<div class="navbar-custom">
    <div class="topbar">
        <div class="topbar-menu d-flex align-items-center gap-1">

            <!-- Topbar Brand Logo -->
            <div class="logo-box">
                <!-- Brand Logo Light -->
                <a href="/" class="logo-light">
                    <img src="/assets/images/custom/logo-buyscrapapp1.jpg" alt="" height="50">
                    <!-- <img src="/assets/images/custom/logo-buyscrapapp.jpg" alt="" height="50"> -->
                </a>

                <!-- Brand Logo Dark -->
                <a href="/" class="logo-dark">
                    <!-- <img src="/assets/images/custom/logo-buyscrapapp.jpg" alt="" height="50">
                    <img src="/assets/images/custom/logo-buyscrapapp.jpg" alt="" height="50">-->
                </a>
            </div>

            <!-- Sidebar Menu Toggle Button -->
            <button class="button-toggle-menu" (click)="commonService.showHidePanel('header')">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="d-flex">
                <div class="text-white">{{this.orgName}}</div>
               

            </div>
        </div>

        <ul class="topbar-menu d-flex align-items-center">

         

            <!-- User Dropdown -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/assets/images/custom/user-icon.png" alt="user-image" class="rounded-circle" >
                    <span class="pro-user-name ml-1 color-white d-none d-sm-none d-md-block">
                    {{'Buyscrapadmin'}} <i class="mdi mdi-chevron-down"></i> 
                    </span>

                   
                </a>
                <div class="dropdown-menu dropdown-menu-end profile-dropdown">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a routerLink="/superadmin/settings" routerLinkActive="router-link-active"  class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>
              
                    <a routerLink="/superadmin/my-account/change-password" routerLinkActive="router-link-active" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Change Password</span>
                    </a>

                    <a routerLink="/superadmin/my-account/change-location" routerLinkActive="router-link-active" class="dropdown-item notify-item">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>Change Location</span>
                    </a>

                
                   

                    <!-- item-->
                    <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a> -->

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" (click)="backToUserLogin()"  class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>
            
        </ul>
    </div>

    

</div>