<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page" *ngIf="!showLoader">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="bdcmb mt-2">
        <div class="row">
          <div class="col-sm-6 col-6">
            <h4 class="page-title">Certificates of Destruction</h4>
          </div>

          <div class="col-sm-6 col-6">
            <div class="b-links">
              <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/certificates">Certificates of Destruction</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6 d-flex">
          <input
            type="text"
            id="example-palaceholder"
            class="form-control"
            placeholder="Search.."
          />
        </div>
        <div class="col-md-6">
          <app-actionbar [actions]="actionList"></app-actionbar>
        </div>
      </div>
      <!-- end page title -->

      <div class="row mt-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <p-table
                [value]="certificates"
                [paginator]="true"
                [rows]="10"
                [scrollable]="true" 
                scrollHeight="50vh"
                [showCurrentPageReport]="true"
              
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="commonService.tableConfig?.pageOptions" 
              >
             
                <ng-template pTemplate="header">
                  <tr>
                    <th></th>
                    <th>Ticket ID</th>
                    <th>Date Created</th>
                    <th>Ticket Amount</th>
                    <th>Seller</th>
                    <th>Date Closed</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-certificate let-rowIndex="rowIndex">
                  <tr>
                    <td>
                      <!-- <p-tableCheckbox [value]="product" [disabled]="isOutOfStock(product)"></p-tableCheckbox> -->

                      <!-- <p-tableCheckbox   [disabled]="certificate.selected" id="{{'pp'+ rowIndex}}"  (onChange)="onCheckboxChange(certificate)" >
                      </p-tableCheckbox> -->

                      <p-checkbox [binary]="true" [disabled]="certificate.selected"  [(ngModel)]="certificate.selected" (ngModelChange)="setChecked(certificate, rowIndex)"></p-checkbox>
                      <!-- <p-tableCheckbox  [(ngModel)]="certificate.selected" (onChange)="onCheckboxChange(certificate)"></p-tableCheckbox> -->

                 
                      
                      </td>
                    <td>{{ certificate.rowId }}</td>
                    <td>{{ certificate?.dateOpened | date: 'MM/dd/yyyy' }}</td>
                    <td>{{ certificate?.ticketAmount }}</td>
                    <td>{{ certificate.customerName }}</td>
                    <td>{{ certificate?.dateClosed | date: 'MM/dd/yyyy' }}</td>
                    <td *ngIf="certificate?.dateClosed != null">
					          <a (click)="getCODImagesbyID(certificate,'show')" class="btn btn-grid btn-success waves-effect waves-light"><i class="mdi mdi-eye"></i> Show</a>

                      <a href="javascript:void()" class="btn btn-grid btn-success waves-effect waves-light"><i class="mdi mdi-printer"></i> Print</a>

                      <!-- <a href="" class="btn btn-grid btn-success waves-effect waves-light"><i class="mdi mdi-restore"></i> Restore</a>  -->
                    </td>
                    <td *ngIf="certificate?.dateClosed == null">
                      <a (click)="getCODImagesbyID(certificate,'cod')" class="btn btn-grid btn-danger waves-effect waves-light"><i class="mdi mdi-certificate"></i> COD</a>

                      <!-- <a data-bs-target="" data-bs-toggle="modal" class="btn btn-grid btn-danger waves-effect waves-light"><i class="mdi mdi-close"></i> Close</a> -->
                  </td>
                  </tr>
                </ng-template>
               
              </p-table>
            </div>
            <!-- end card body-->
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->
      </div>
      <!-- end row-->
    </div>
    <!-- container -->
  </div>
  <!-- content -->




</div>



<div class="content" *ngIf="showLoader">

  <app-page-loader type="ftable"></app-page-loader>

  
</div>






<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<p-dialog [modal]="true" 
  header="New Regrade"
  [(visible)]="visible"
  [style]="{ width: '60vw' }"
>
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between col-10">
      <div >   <a (click)="hideCaptureModel()" class="btn btn-primary "
        ><i class="mdi mdi-keyboard-backspace"></i
      ></a></div>
      <div class="d-flex justify-content-end">
        <a
      (click)="showCaptureModel()"
      class="btn btn-grid btn-primary waves-effect waves-light ml-10"
    >
      Capture Image</a
    >

    <a (click)="showItemViewModel()" class="btn btn-grid btn-primary waves-effect waves-light ml-10">
      View Item</a
    >

      </div>



    </div>
  

    <!-- <h5 class="modal-title ml-10" id="myLargeModalLabel">
      Please enter detailed description of material being processed
    </h5> -->

    
  </ng-template>

  <div class="row">
    <div class="col-md-12">
      <div class="d-block fz-14">Please enter detailed description of material being processed  </div>
      <input
        type="text"
        id="example-palaceholder"
        class="form-control"
        [(ngModel)]="materialDesc" 
      />
    </div>

    <div class="col-md-12 mt-1">
    <div class="d-block fz-14">Add Description Photo below</div>
      <div class="form-group">
        
          <textarea cols="10" rows="10" [(ngModel)]="certificateDesc" class="form-control"></textarea>
       
     </div>

   
     

    </div>
  </div>

  <div class="row pd-imgs-box mt-3" *ngIf="!certificateLoader">
    <ng-container  *ngFor="let item of certificatesImages">
    <div class="col-sm-3">
      <div class="pd-imgs" tabindex="1">
        <img src="{{item?.codImagePath}}" style="min-height: 150px;" alt="My COD added in role based data" class="img-responsive" />
      </div>
    </div>
  </ng-container>
  
  </div>

  <div class="row pd-imgs-box mt-3" *ngIf="certificateLoader">
   
    <app-page-loader type="table"></app-page-loader>
  </div>


  <div class="row mt-3 text-center">
    <div class="col-sm-2">
      <a
        href="javascript:void(0)"
        class="btn btn-grid btn-primary waves-effect waves-light btn-display-block"
        >Save</a
      >
    </div>
  </div>
</p-dialog>

<ng-container *ngIf="cvisible">
  <p-dialog [modal]="true" 
  header="New Regrade"
  [(visible)]="cvisible"
  [style]="{ width: '80vw' }"
>
  <ng-template pTemplate="header">
    <a (click)="hideCaptureModel()" class="btn btn-primary "
      ><i class="mdi mdi-keyboard-backspace"></i
    ></a>

    <h4 class="modal-title ml-10" id="myLargeModalLabel">Capture Image</h4>
  </ng-template>

  <div class="row" *ngIf="cvisible">
    <app-camera (getPicture)="handleImage($event)"></app-camera>
  </div>

  <!-- <div class="row mt-3">
    <div class="col-sm-12">
      <div id="image-preview"></div>
    </div>
  </div> -->

  <div class="row mt-3">
    <div class="col-sm-12 d-flex">
      <div class="form-group">
        <select class="form-select" id="example-select">
          <option>Passport</option>
          <option>Driver License</option>
          <option>ID</option>
        </select>
      </div>

      <a class="btn btn-primary ml-10">Save Image</a>

      <a data-bs-dismiss="modal" class="btn btn-primary ml-10">Close</a>
    </div>
  </div>
</p-dialog>
</ng-container>



<p-dialog header="Header" [(visible)]="isConfirmModel" [modal]="true" [style]="{ width: '40rem' }">
  <ng-template pTemplate="header">
      <div class="inline-flex align-items-center justify-content-center gap-2">
          
          <span class="font-bold white-space-nowrap">Confirm COD</span>
      </div>
  </ng-template>
  <div class="m-0">
      <h3>Do you need to confirm ticket for COD ? </h3>
  </div>
  <ng-template pTemplate="footer">
    <button class="btn btn-primary" (click)="confirmData()">Confirm</button>
    <button type="button" class="btn btn-danger" (click)="cancelClick()">Cancel</button>

  </ng-template>
</p-dialog>

      





