.image-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profile{
    width: 420px;
    height: 290px;
    // img {
    //     transform: scaleX(-1);
    //     -webkit-transform: scaleX(-1); /* For older versions of Safari */
    // }
}

// .video-element {
//     transform: scaleX(-1);
//     -webkit-transform: scaleX(-1); /* For older versions of Safari */
//   }