<div *ngIf="isCameraExist; else noCameraExist"  class="mt-3">

  <div class="row g-3 align-items-center px-1 py-1">
    <div class="col-auto">
    <div class="form-group">

      <select class="form-select" [(ngModel)]="selectedCamera" (change)="changeWebCame(selectedCamera)">
          <option value="undefined">Select a camera</option>            
          <option *ngFor="let option of allMediaDevices" [value]="option.deviceId"> {{ option.label }} </option>
          <!-- <option value="cd857abbf36b2b1511ae171f1778ffb3cc19c0240e6accda93c40162dc3e0dd1">HP HD Camera (05c8:0397)</option> -->
      </select>
    </div>
      
    </div>
    <div class="col-auto d-flex">
      <a class="btn btn-primary me-1" (click)="takeSnapshot()">Capture Image</a>
      <button hidden class="button" (click)="changeWebCame(true)">T</button>      
      <a class="btn btn-primary" (click)="onOffWebCame()">{{showWebcam ? 'Stop' : 'Start' }} Capture</a> 

    </div>
   
    <div class="col-auto">
      <label for="fileUpload"><b>Upload an image :</b></label>
      <input #inputFile type="file" (change)="onFileChanged($event)">
    </div>
  </div>

  <div class="row">                                
    <div class="col">
      <div class="over-flow-300 image-center">
        <webcam
          [height]="290"
          [width]="420"
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          *ngIf="showWebcam"
          mirror="true"
          [switchCamera]="nextWebcamObservable"
        ></webcam>
      </div>      
    </div>                      
    <!-- <div class="col">
      <div class="over-flow-300 image-center">
        <div *ngIf="imageUrl" class="img-profile">
          <img [src]="imageUrl" style="height: 100%; width: 100%;max-width:400px"/>
        </div>
      </div>      
    </div> -->
  </div>

    <div>
      <div class="btn-group">
      </div>
    </div>
  
    <div *ngIf="errors.length > 0">
      <h4>Error Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{ error | json }}</li>
      </ul>
    </div>
</div>
  
<ng-template #noCameraExist> Camera device not available </ng-template>
