.custom-height {
    max-height: calc(100vh - 200px);
    overflow: auto;
}


.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


@media screen and (min-width: 1900px) {

    .img-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }
    

}



// @media (max-width: 767px) {
//     .img-grid {
      
//         grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      
//       }

//   }
