            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page" *ngIf="!showLoader">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Materials</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/materials">Materials</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex mb-2">
                                <input type="text" (keyup)="searchMetarial($event)" id="example-palaceholder" class="form-control" placeholder="Search Materials">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar (iconAction)="getAction($event)" [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card custom-height">
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="img-grid">
                                            <ng-container  *ngFor="let item of materialList">
                                                <div class="materials-pg-boxes">


                                                    <div style="cursor: pointer;" class="title" routerLink = "/{{orgName}}/materials/detail/{{item.rowId}}">
                                                        <!-- <img src="{{item.imagePath}}" (error)="this.changeSource($event);" /> -->
                                                        {{item.groupName}}
                                                    </div>
                                                    <div class="d-flex  justify-content-center px-1 py-1">
                                                     
                                                        <div (click)="showDialog(item)" class="btn btn-outline-primary"><i class="mdi mdi-pencil"></i> Edit</div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                       
                                            
                                        </div>
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>


           

                <div class="content" *ngIf="showLoader">
                    <app-page-loader count="20"  type="image"></app-page-loader>
    
                </div>
         


          <p-dialog [modal]="true" 
            [header]="isEditModeOn == true? 'Edit Material' : 'Add Material'"
            [(visible)]="visible"
            [style]="{ width: '60vw' }"
            [breakpoints]="{'767px': '100vw'}"
          >
              <div class="row">
                                
            <div class="col-sm-12">
                <form [formGroup]="form">
                
                    <div class="form-group col-sm-12 mb-2">
                        <div class="form-floating">
                            <label hidden formControlName="rowId">0</label>
                            <input formControlName="groupName" type="text" class="form-control">
                            <label for="floatingInput">Product Name</label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 mb-2">                            
                        <div class="form-floating">
                            <input formControlName="description" type="text" class="form-control">
                            <label for="floatingInput">Description</label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 mb-2">
                        <label for="example-select" class="form-label">Units of Measure</label>
                        <select class="form-select" formControlName="uomId">
                            <option *ngFor="let option of unitOfMeasure"
                            [value]="option.value">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>

                    <!-- <div class="form-group col-sm-12 mb-2">
                        <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Upload Image</button>
                        <input type='file' id="upload" style="display:none">

                        <div id="image-preview" class="mt-10"></div>
                    </div> -->

                    <div class="form-group col-sm-12 mb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isCRV"  formControlName="isCRV">
                            <label class="form-check-label" for="isCRV">IsCRV</label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 mb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isEnable"  formControlName="isEnable">
                            <label class="form-check-label" for="isEnable">Enable</label>
                        </div>
                    </div>

                    <a class="btn btn-primary " (click)="onSubmit(materialData)">Save</a>

                </form>
            </div>

          </div>
          </p-dialog>


          <p-dialog [modal]="true" 
            header="Bulk Materials Update"
            [(visible)]="bulkvisible"
            [style]="{ width: '60vw' }"
            [breakpoints]="{'767px': '100vw'}"
          >
           
          <div class="row">
                                
            <div class="col-sm-12">
                <form #bulkEdit action="">
                
                <div class="form-group col-sm-12 mb-2">
                    
                    <label for="defaultSelectedMaterial" class="form-label">Select Material</label>
                    <select class="form-control" id="defaultSelectedMaterial" name="defaultSelectedMaterial" [(ngModel)]="defaultSelectedMaterial"
                    (change)="onMaterialChange($event)">
                        <option *ngFor="let option of materialListCopy; let i = index"
                        [value]="option.rowId">
                            {{ option.groupName }}
                        </option>
                    </select>

                    <!--  Aluminium Div -->
                    <div class="myDiv">
                        <table class="ticket-details-tbl">
                            <thead>
                                <tr><th>Material Name</th>
                                <th>Scrap Price</th>
                            </tr></thead>

                            <tbody> 
                                <ng-container *ngFor="let item of subMaterialList">
                                    <tr>
                                        <td hidden>{{item.rowId}}</td>
                                        <td>{{item.materialName}}</td>
                                        <td><input type="text" class="form-control" id="value" value="{{item.scrapPrice}}"></td>
                                    </tr> 
                                </ng-container>                                                    
                            </tbody>
                            
                        </table>
                    </div>
                    <!--  Aluminium Div -->

                </div>

                <a class="btn btn-primary ">Save</a>

                </form>
            </div>

        </div>
          </p-dialog>
          

          <p-toast></p-toast>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
