<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">

    <div class="content" *ngIf="!isLoading">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="bdcmb mt-2">
                <div class="row">
                    <div class="col-sm-6 col-6">
                        <h4 class="page-title">Regrade</h4>
                    </div>

                    <div class="col-sm-6 col-6">
                        <div class="b-links">
                            <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()"
                                routerLink="/{{orgName}}/regrade">Regrade</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6 d-flex">
                    <input type="text" id="example-palaceholder" class="form-control" placeholder="Search..">
                </div>
                <div class="col-md-6">
                    <app-actionbar (iconAction)="getAction($event)" [actions]="actionList"></app-actionbar>
                </div>

            </div>
            <!-- end page title -->

            <div class="row mt-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            
                            <p-table #dt1 [value]="regrades" [paginator]="false" [rows]="pageSize"
                                [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" 
                                scrollHeight="calc(100vh - 250px)"
                                [globalFilterFields]="['regrade.createdDate', 'regrade.materialName', 'regrade.formattedText', 'regrade.sumMaterialNet']">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 15%;">Date Created</th>
                                        <th style="width: 25%;">Material</th>
                                        <!-- <th>Previous Net</th> -->
                                        <th style="width: 35%;">Regraded Material</th>
                                        <th style="width: 15%;">Regrade Net</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-regrade>
                                    <tr>
                                        <td>{{ regrade.createdDate | date: 'MM/dd/yyyy' }}</td>
                                        <td>{{ regrade.materialName }}</td>
                                        <td>{{ regrade.formattedText }}</td>
                                        <td>{{ regrade.sumMaterialNet | number : '1.3-3' }}</td>
                                        <td>
                                            <a (click)="showTableModel()"
                                                class="btn btn-grid btn-success waves-effect waves-light"><i
                                                    class="mdi mdi-eye"></i> Show</a>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorleft">
                                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text">
                                    </p-button>
                                </ng-template>
                                <ng-template pTemplate="paginatorright">
                                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text">
                                    </p-button>
                                </ng-template>
                            </p-table>

                        </div> <!-- end card body-->

                        <div class="col-sm-12">
                            <div *ngIf="regrades?.length > 0">
                                <p-paginator class="serverside-paginator" [showCurrentPageReport]="true"
                                    (onPageChange)="onPageChange($event)"
                                    currentPageReportTemplate=" Showing {first} to {last} of {totalRecords} entries"
                                    [first]="first" [last]="last" [rows]="pageSize" [totalRecords]="pageTotal"
                                    [rowsPerPageOptions]="commonService?.tableConfig?.pageOptions"></p-paginator>
                            </div>
                        </div>

                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->

    <!-- end Footer -->

    <!--  Modal Regrade - Select Button Click Inside 2nd Modal Popup -->
    <div class="modal fade" id="modal-regrade-select-btn" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="myLargeModalLabel">New Regrade</h4> -->
                    <a data-bs-target="#new-regrade" data-bs-toggle="modal" data-bs-dismiss="modal"
                        class="btn btn-primary " title="Back to New Regrade"><i
                            class="mdi mdi-keyboard-backspace"></i></a>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12">
                            <form action="">
                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Current Regraded Item</label>
                                    <input type="text" id="currentregradeditem" class="form-control"
                                        placeholder="Aluminium Extrusion(Clean)">
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Current Stock</label>
                                    <input type="text" id="currentstock" class="form-control" placeholder="33790">
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Select Amount to Regrade</label>
                                    <input type="text" id="selectamounttoregrade" class="form-control"
                                        placeholder="Select to Regrade Stock">
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="example-select" class="form-label">Regrade To</label>
                                    <select class="form-select" id="example-select">
                                        <option>Aluminium Extrusion(Clean)</option>
                                        <option>Aluminium Rims(Clean)</option>
                                        <option>Brass Caulks & Faucets</option>
                                        <option>Circuit Boards(High Grade)</option>
                                        <option>Computer Memory</option>
                                        <option>Computers(Complete)</option>
                                        <option>Copper #1</option>
                                        <option>Copper #2</option>
                                        <option>CRT Monitors</option>
                                        <option>CRV 1</option>
                                        <option>Iron 1</option>
                                        <option>Iron 2</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Stock After Regrade</label>
                                    <input type="text" id="stockafterregrade" class="form-control"
                                        placeholder="Current Stock">
                                </div>

                                <a class="btn btn-primary ">Save</a>
                            </form>
                        </div>

                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--  Modal Regrade - Select Button Click Inside 2nd Modal Popup -->

    <!--  Regrade Show Button Click Popup -->
    <div class="modal fade" id="regrade-show-btn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="myLargeModalLabel">New Regrade</h4> -->
                    <a data-bs-dismiss="modal" class="btn btn-primary " title="Back to New Regrade"><i
                            class="mdi mdi-keyboard-backspace"></i></a>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12">
                            <form action="">
                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Current Regraded Item</label>
                                    <input type="text" id="currentregradeditem" class="form-control"
                                        placeholder="CRV 1">
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Select Amount to Regrade</label>
                                    <input type="text" id="selectamounttoregrade" class="form-control"
                                        placeholder="500.00">
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="example-select" class="form-label">Regrade To</label>
                                    <select class="form-select" id="example-select">
                                        <option>Aluminium Extrusion(Clean)</option>
                                        <option>Aluminium Rims(Clean)</option>
                                        <option>Brass Caulks & Faucets</option>
                                        <option>Circuit Boards(High Grade)</option>
                                        <option>Computer Memory</option>
                                        <option>Computers(Complete)</option>
                                        <option>Copper #1</option>
                                        <option>Copper #2</option>
                                        <option>CRT Monitors</option>
                                        <option>CRV 1</option>
                                        <option>Iron 1</option>
                                        <option>Iron 2</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12 mb-2 d-flex">
                                    <label for="simpleinput" class="form-label">Stock After Regrade</label>
                                    <input type="text" id="stockafterregrade" class="form-control" value="590.00">
                                </div>

                                <a class="btn btn-primary ">Save</a>
                            </form>
                        </div>

                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--  Regrade Show Button Click Popup -->

</div>

<div class="content" *ngIf="isLoading">


    <app-page-loader type="ftable"></app-page-loader>


</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

<p-dialog [modal]="true" header="New Regrade" [style]="{width: '70vw'}" [breakpoints]="{'767px': '100vw'}" [(visible)]="visibleNewRegrade" [style]="{width: '60vw'}">


<div class="row" *ngIf="subMaterialLoader"> 
        <app-page-loader type="ftable"></app-page-loader>   
</div>


<div class="row" *ngIf="!subMaterialLoader">
    <div class="col-md-6">        
        <input type="text" id="example-palaceholder" [(ngModel)]="searchSubMaterialInput" class="form-control"
        placeholder="Search for Sub Materials">
    </div>
    <div class="col-md-6">
        <app-actionbar (iconAction)="getSubMaterialAction($event)" [actions]="regreateList"></app-actionbar>

    </div>
</div>

<div class="row mt-3"  *ngIf="!subMaterialLoader">

    <p-table [value]="subMaterialList" [scrollable]="true" scrollHeight="40vh" [paginator]="false" 
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="header">
            <tr>
                <th>Material</th>
                <th>Net Available</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subMaterial>
            <tr>
                <td>{{ subMaterial.materialName }}</td>
                <td>{{ subMaterial.net }}</td>
                <td>
                    <a (click)="showRegrateDeatilModel(subMaterial)"
                        class="btn btn-grid btn-success waves-effect waves-light">Select</a>
                </td>
            </tr>
        </ng-template>
      
    </p-table>
</div>


</p-dialog>


<p-dialog header="Show Regrade" [breakpoints]="{'767px': '100vw'}" [(visible)]="ShowmodelRegrate"
    [style]="{width: '60vw'}">

    <ng-template pTemplate="header">
        <div>
            <a (click)="hideModel()" data-bs-dismiss="modal" class="btn btn-primary "
                title="Back to New Regrade"><i class="mdi mdi-keyboard-backspace"></i></a>

        </div>

    </ng-template>

    <div class="row">

        <div class="col-md-12">
            <form action="">
                <div class="form-group col-sm-6 mb-2 d-flex">
                    <label for="simpleinput" class="form-label">Current Regraded Item :</label>                    
                    <input type="text" id="currentRegradedMaterialName" [(ngModel)]="currentRegradedMaterialName" class="form-control"
                    placeholder="Current Regraded Item">
                </div>

                <div class="form-group col-sm-6 mb-2 d-flex">
                    <label for="simpleinput" class="form-label">Select Amount to Regrade :</label>          
                    <input type="text" id="currentMaterialStock" [(ngModel)]="currentMaterialStock" class="form-control"
                    placeholder="Select Amount to Regrade">
                </div>

                <div class="form-group col-sm-6 mb-2 d-flex">
                    <label for="example-select" class="form-label">Regrade To :</label>
                    <select class="form-control" id="defaultSelectedMaterial" name="defaultSelectedMaterial" [(ngModel)]="defaultSelectedMaterial">
                        <option *ngFor="let option of subMaterialList"
                        [value]="option.rowId">
                            {{ option.materialName }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-6 mb-2 d-flex">
                    <label for="simpleinput" class="form-label">Stock After Regrade :</label>
                    <input type="text" id="stockafterregrade" class="form-control" value="590.00">
                </div>

                <a class="btn btn-primary ">Save</a>
            </form>
        </div>

    </div>

</p-dialog>



<p-dialog [modal]="true" header="Add New Regrade Item" [breakpoints]="{'767px': '100vw'}" [(visible)]="poupRegrate" [style]="{width: '60vw'}">

    <ng-template pTemplate="header">
        <div>
            <a (click)="hideRegrateDeatilModel()" data-bs-dismiss="modal" class="btn btn-primary "
                title="Back to New Regrade"><i class="mdi mdi-keyboard-backspace"></i></a>

        </div>

    </ng-template>

    <div class="row">

        <div class="col-md-12">
            <form action="">                
                <div class="row" >
                    <div class="form-group col-sm-6 mb-2 d-flex">
                        <label for="simpleinput" class="form-label">Current Regraded Item</label>                    
                        <input type="text" id="newRegradedMaterialName" name="newRegradedMaterialName" 
                        [(ngModel)]="newRegradedMaterialName" class="form-control"
                        placeholder="Current Regraded Item">
                    </div>
    
                    <div class="form-group col-sm-6 mb-2 d-flex">
                        <label for="simpleinput" class="form-label">Current Stock</label>          
                        <input type="text" id="newMaterialStock" name="newMaterialStock" 
                        [(ngModel)]="newMaterialStock" class="form-control"
                        placeholder="Current Stock">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-sm-6 mb-2 d-flex">
                        <label for="example-select" class="form-label">Regrade To</label>
                        <select class="form-control" id="newSelectedMaterial" name="newSelectedMaterial" [(ngModel)]="newSelectedMaterial">
                            <option *ngFor="let option of materialList"
                            [value]="option.rowId">
                                {{ option.materialName }}
                            </option>
                        </select>
                    </div>    
                    <div class="form-group col-sm-6 mb-2 d-flex">
                        <label for="simpleinput" class="form-label">Stock After Regrade</label>          
                        <input type="text" id="stockQuanity" name="stockQuanity"
                        [(ngModel)]="stockQuanity" class="form-control"
                        placeholder="Select Amount to Regrade">
                    </div>  
                    
                 
                </div>

                <a class="btn btn-primary " (click)="addMetarial()">Add</a>



                <!-- <div class="form-group col-sm-6 mb-2 d-flex">
                    <label for="simpleinput" class="form-label">Stock After Regrade :</label>
                    <input type="text" id="stockafterregrade" ([ngModel])="stockQuanity" class="form-control">
                </div> -->




                <p-table class="ticket-table" [value]="metarialObj" 
                 scrollHeight="50vh"
                 [paginator]="true"
                [rows]="10"
                [loading]="isLoading"
                [showCurrentPageReport]="false"
                [scrollable]="true" 
                >
        
                <ng-template pTemplate="header">
                    <tr>
                        <th>Material Name</th>
                        <th>Quantity</th>
                        <!-- <th style="width:30%;"> Action </th> -->
                   </tr>
                   
                </ng-template>
                <ng-template pTemplate="body" let-type let-rowIndex="rowIndex">
        
                    <tr>
                        <td>{{type?.name}}</td>
                        <td>{{type?.quanitity}}</td>
                        <td> <a class="btn btn-danger" (click)="removeQuantty(rowIndex)">Delete</a> </td>
                    </tr>      
        
                  
                </ng-template>
                
            </p-table>




                <!-- <table class="table border">
                    <tr>
                        <th>Material Name</th>
                        <th>Quantity</th>
                    </tr>
                  

                    <tr *ngFor="let item of metarialObj;let i=index">
                        <td>{{item?.name}}</td>
                        <td>{{item?.quanitity}}</td>
                        <td><a class="btn btn-danger" style="background-color:#cd303f!important" (click)="removeQuantty(i)">Remove</a></td>
                    </tr>
                </table> -->



                <div class="col-3" *ngIf="metarialObj.length > 0">
                    <a class="btn btn-primary"> Save</a>
                </div>
              
                
            
            </form>
        </div>

    </div>

</p-dialog>