            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- <div class="row mt-2">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
                            </div>
                            
                        </div> -->

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Admin</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/admin">Admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <h4>User Management</h4>
                            </div>
                            <div class="col-md-6">
                                <app-actionbar (iconAction)="getAction($event)" [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <p-table [value]="admins"  [scrollable]="true"   responsiveLayout="scroll" 
                                        scrollHeight="50vh" [paginator]="true" [rows]="10"
                                            [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                            [rowsPerPageOptions]="commonService.tableConfig.pageOptions" >

                                          
                                            
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Username</th>
                                                    <th>User Role</th>
                                                    <th>Mobile No</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-admin>
                                                <tr>
                                                    <td>{{ admin.firstName }}</td>
                                                    <td>{{ admin.lastName }}</td>
                                                    <td>{{ admin.username }}</td>
                                                    <td>{{ admin.role }}</td>
                                                    <td>{{ admin.mobileNumber }}</td>
                                                    <td>{{ admin.emailID }}</td>
                                                    <td>
                                                        <a (click)="showModel(admin,'update')" class="btn btn-grid btn-primary waves-effect waves-light me-1"><i class="mdi mdi-pencil"></i> Edit</a>
                                                        <a (click)="deletUser(admin)"class="btn btn-grid btn-danger waves-effect waves-light"><i class="mdi mdi-trash-can-outline"></i> Delete</a>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            
                                        </p-table>
                                    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->


             

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->



            <p-dialog
            [header]="title"
            [(visible)]="visible"
            [style]="{ width: '80vw' }"
          >


          <div class="row">
            <div class="col-sm-12">
                
                <form [formGroup]="userForm">
                                            
                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100" >First Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="firstName" id="fistname" class="form-control" [ngClass]="{'border-danger': isSubmit &&  f.firstName.invalid }"  placeholder="First Name">
                            <app-form-error-message msg=" Name is required" *ngIf="(isSubmit && userForm?.get('firstName')?.errors?.required)"></app-form-error-message>
                            <app-form-error-message [msg]="patternMsg?.alphabetPattern[1]" *ngIf="(isSubmit && userForm?.get('firstName')?.errors?.pattern)"></app-form-error-message>
                        </div>

                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Last Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="lastName" id="lastname" class="form-control" placeholder="Last Name" [ngClass]="{'border-danger': isSubmit &&  f.lastName.invalid}">
                            <app-form-error-message msg="Last Name is required" *ngIf="(isSubmit && userForm?.get('lastName')?.errors?.required)"></app-form-error-message>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100" [ngClass]="{'border-danger': f.roleId.touched && f.role?.invalid}">Select Role <span class="text-danger">*</span></label>
                            <select formControlName="roleId" class="form-select" id="selectrole">
                                <option disabled value="null">Select Role</option>
                                <option *ngFor="let item of roleList" [value]="item?.rowId">{{item?.role}}</option>
                               
                            </select>
                            <app-form-error-message msg="Role Name is required" *ngIf="isSubmit && userForm?.get('roleId')?.errors?.required"></app-form-error-message>

                        </div>

                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Username <span class="text-danger">*</span></label>
                            <input type="text" formControlName="userName" id="username" class="form-control" [ngClass]="{'border-danger': isSubmit && f.userName?.invalid}" placeholder="Enter Username">
                            <app-form-error-message msg="UserName Name is required" *ngIf="isSubmit && userForm?.get('userName')?.errors?.required"></app-form-error-message>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Password <span class="text-danger">*</span></label>
                            <input formControlName="password" type="password"  id="password" class="form-control" [ngClass]="{'border-danger': isSubmit && f.password?.invalid}" placeholder="Enter Your Password">
                            
                             <app-form-error-message msg="Password is required" *ngIf="isSubmit && userForm?.get('password')?.errors?.required"></app-form-error-message>

                        </div>

                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Confirm Password <span class="text-danger">*</span> </label>
                            <input type="password" formControlName="confirmPassword" id="confirmpassword" class="form-control " [ngClass]="{'border-danger': isSubmit && f.confirmPassword?.invalid}" placeholder="Enter Your Password">
                           

                            <div *ngIf="isSubmit &&  f.confirmPassword?.invalid">
                                <app-form-error-message msg="Confirm Password is required" *ngIf="isSubmit && userForm?.get('confirmPassword')?.errors?.required"></app-form-error-message>
                                <app-form-error-message msg="Password and Confirm Password must be match." *ngIf="userForm?.get('confirmPassword')?.errors?.confirmedValidator"></app-form-error-message>
                               
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Mobile No <span class="text-danger">*</span></label>
                            <input formControlName="mobileNumber" type="mobileNumber" id="mobileNumber" class="form-control" [ngClass]="{'border-danger': isSubmit && f.mobileNumber?.invalid}"  placeholder="Enter Mobile No">
                            <app-form-error-message msg="Mobile Number is required" *ngIf="isSubmit && userForm?.get('mobileNumber')?.errors?.required"></app-form-error-message>

                       </div>
                        <div class="form-group col-sm-6 mb-2">
                            <label for="simpleinput" class="form-label w-100">Mail ID <span class="text-danger">*</span></label>
                            <input formControlName="emailID" type="email" id="mailid" class="form-control" [ngClass]="{'border-danger': isSubmit &&  f.emailID?.invalid}" placeholder="Enter Mail ID">
                            <app-form-error-message msg="Email is required" *ngIf="isSubmit && userForm?.get('emailID')?.errors?.required"></app-form-error-message>

                        </div>
                    </div>

                    <button class="btn btn-primary btn-materials" (click)="submitForm()">{{title == 'Add User' ? 'Save' : 'Update'}}</button>
                </form>


            </div>
        </div> 

        </p-dialog>

        <p-toast></p-toast>