<!-- <h1>this is  {{organizationName}}</h1> -->
<div id="wrapper">

    <app-superadmin-sidemenu></app-superadmin-sidemenu>
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <app-superadminheader></app-superadminheader>
        
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
