h4{
    font-size: 1rem;
}

.mainbox-row{
    // max-height: 110px;
    overflow: auto;
}

.cod-item {
    color: darkred !important;
}

.main-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; 
    padding: 1em;

    li {
        border: solid;
        padding: 0.15em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 2px;
        background: #02659d
      }  
  }

  .border-show {
    border-bottom: 1px solid #dee2e6 !important;
  }
  
  .border-hide {
    border-bottom: none !important;
  }

  .equal-h{
    width: 160px;
    height: 60px;
  }


  .button-container {
    display: flex;
  }
  

  @media (max-width: 1024px) {
    .equal-h{
      width: 114px;
      height: 60px;
    }
  }