h4{
    font-size: 1rem;
}

// .close{
//   font-size: 12px;
//     width: 15px;
//     height: 15px;
//     z-index: 9;
//     display: flex;
//     justify-content: center;
//     top: 4px;
//     align-items: center;
//     color: #fff;
//     background: #1988c7 !important;
//     border: none;
  
// }

.fz-14{
  font-size: 0.9rem;
}

.mainbox-row{
    // max-height: 110px;
    overflow-y: scroll !important;
}

.ticket-card{
  height: calc(100vh - 100px);
  overflow-y: auto;
}


.cod-item {
    color: darkred !important;
}

.main-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 0.5fr; 
    gap: 0.5rem;
    padding: 2px;
    list-style-type: none;
   
    li {
       
     
        // align-items: top;
        justify-content: center;
        text-align: left;
      
        background-color:#03659c;
        box-shadow: inset -1px 0px 1px 4px #ccc;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
       a {
          padding:1.2rem !important;
          display: flex;
          height: 100%;
          color: #fff;
          font-size: 0.9rem !important;
          font-weight: 500;
          cursor: pointer;
          justify-content: center;
          text-transform: uppercase;
          letter-spacing: 2px;
         
       }
       &:hover {
        background: #bbdaeb;
        color: #fff !important;

       }

      }  
  }

  .border-show {
    border-bottom: 1px solid #dee2e6 !important;
  }
  
  .border-hide {
    border-bottom: none !important;
  }

  .equal-h{
    width: 160px;
    height: 60px;
  }


  .button-container {
    display: flex;
  }

  .w-98{
    width: 98%;
  }
  .w-75{
    width:65% !important;
  }
  

  @media (max-width: 767px) {
    .w-98{
      width: 100% !important ;
    }
    .w-75{
      width:100% !important;
    }

  }

  @media (max-width: 1024px) {

    
    
    .equal-h{
      width: 114px;
      height: 60px;
    }
    .main-ul{
      display: block;
    }
  }



  

/* Media query for screens wider than 3000px */
@media (min-width: 3000px) {
 
  .main-ul  li a {
    padding:1.5rem !important;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;  
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/* Media query for screens wider than 4000px */
@media (min-width: 4000px) {
.main-ul  li a {
  padding: 2.5rem !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
}

/* Media query for screens wider than 5000px */
@media (min-width: 5000px) {
.main-ul  li a {
  padding: 2.5rem !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
}

/* Media query for screens wider than 5000px */
@media (min-width: 6000px) {
  .main-ul  li a {
    padding: 2.5rem !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  }


  .parent-table, .nested-table {
    border-collapse: collapse;
    width: 100%;
  }

  .parent-table th, .parent-table td,
  .nested-table th, .nested-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .nested-table td {
    text-align: center; /* Adjust as needed */
  }