<div class="account-pages account-pages-bsa">
    <div class="container">
        <div class="row d-flex justify-content-center align-item-center login-class" style="margin-top:65px">
          <div class="d-flex justify-content-center login-inner">
            <div class="col-md-8 col-lg-6 col-sm-12">
                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <!-- <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/custom/logo-buyscrapapp.jpg" alt="" height="61">
                                    </span>
                                </a> -->
            
                                <a class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/custom/logo-buyscrapapp.jpg" alt="" height="61">
                                    </span>
                                </a>
                            </div>
                            <h4 class="mb-2 mt-3">Sign in to your account</h4>
                        </div>

                        <form [formGroup]="loginForm" class="mt-3" >

                            <div class="form-group mb-3">
                                <label required for="username" class="dark-color">Username</label>
                                <input class="form-control" placeholder="Enter Username" type="text" name="username" formControlName="userName" />
                                <app-form-error-message msg="Username is required" *ngIf="(isSubmit && loginForm?.get('userName')?.errors?.required)"></app-form-error-message>
                            
                            </div>

                            <div class="form-group mb-3">
                                <label for="emailaddress" class="dark-color">Password</label>
                                <div class="input-group input-group-merge">
                                    
                                    <input required [type]="inputType" id="password" class="form-control" name="password"
                                    placeholder="Enter your Password" formControlName="password" >
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <a  (click)="$event.preventDefault();changeInput()"><span class="bi bi-eye" ></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="locationId" class="dark-color">Select Location</label>
                                <div class="input-group input-group-merge" >
                                    <select required class="form-control" formControlName="locID" id="locationId" name="locationId" >
                                        <option value="null" [selected]="true">-- Select State --</option>
                                        <option *ngFor="let option of locations" [value]="option.rowId"> {{ option.locationName }} </option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox custom-checkbox d-flex align-item-center">
                                    <input   type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                                    <label class="custom-control-label ms-1" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>

                            <div class="form-group mb-2 text-center">
                                <button type="submit" [disabled]="loginForm.invalid" class="px-1 py-1 btn-primary-bsa btn btn-primary btn-block h-30" type="submit" (click)="validateUser()"> Login </button>
                            </div>

                        </form>

                        

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row">
                    <div class="col-12 text-center">
                        <p> <a routerLink="/organization-login" class="ml-1">Back to Organization</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <p>App Version - 2.17</p>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- end col -->
      
          </div>
              
          
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>