.h-30{
    height: 40px !important;
    font-size: 20px !important;
}

@media screen and (max-width: 767px) {
   .login-class{
    display: block !important ;
    .login-inner{
        width: 100% !important;
        display: block !important ;
    }
   }
 }