<div class="account-pages account-pages-bsa">
    <div class="container-fluid" >
        <div *ngIf="!isShow" class="row d-flex justify-content-center align-item-center login-class">
          <div class="d-flex justify-content-center login-inner">
            <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-8  col-sm-12 login-box">
                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <!-- <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/custom/logo-buyscrapapp.jpg" alt="" height="61">
                                    </span>
                                </a> -->
            
                                <a class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/custom/logo-buyscrapapp.jpg" alt="" height="61">
                                    </span>
                                </a>
                            </div>
                            <h4 class="mb-2 mt-3">Sign in to your account</h4>
                        </div>

                        <form [formGroup]="loginForm" class="mt-3" >

                            <div class="form-group mb-3">
                                <label required for="username" class="dark-color">Username</label>
                                <input class="form-control" placeholder="Enter Username" type="text" name="username" formControlName="userName" />
                                <app-form-error-message msg="Username is required" *ngIf="(isSubmit && loginForm?.get('userName')?.errors?.required)"></app-form-error-message>
                            
                            </div>

                            <div class="form-group mb-3">
                                <label for="emailaddress" class="dark-color">Password</label>
                                <div class="input-group input-group-merge">
                                    
                                    <input required [type]="inputType" id="password" class="form-control" name="password"
                                    placeholder="Enter your Password" formControlName="password" >
                                    <div class="input-group-append">
                                        <div class="input-group-text h-100">
                                            <a  (click)="$event.preventDefault();changeInput()"><span class="bi bi-eye" ></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="locationId" class="dark-color">Select Location</label>
                                <div class="input-group input-group-merge" >
                                    <select required class="form-control" formControlName="locID" id="locationId" name="locationId"  [(ngModel)]="locationId" (change)="changeLocationChange(locationId)" >
                                        <option value="null" [selected]="true">-- Select State --</option>
                                        <option *ngFor="let option of locations" [value]="option.rowId"> {{ option.locationName }} </option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="custom-control custom-checkbox custom-checkbox d-flex align-item-center">
                                    <input   type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                                    <label class="custom-control-label ms-1" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>

                            <div class="form-group mb-2 text-center">
                                <button type="submit" [disabled]="loginForm.invalid" class="px-1 py-1 btn-primary-bsa btn btn-primary btn-block h-40 btn-login" type="submit" (click)="validateUser()"> Login </button>
                            </div>

                        </form>

                        

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row">
                    <div class="col-12 text-center">
                        <p> <a (click)="backToOrgLogin()" class="ml-1">Back to Organization</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <p>App Version - 2.17</p>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- end col -->
      
          </div>
              
          
        </div>



        <div *ngIf="isShow" class="d-flex justify-content-center login-inner">
               <div class="col-md-8 col-lg-6 col-sm-12">
                <div class="card bg-pattern">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto auth-logo d-flex justify-content-center align-items-center text-center">
                            <div class="auth-logo text-center">
                              
            
                                <p-skeleton shape="circle" size="5rem" styleClass="mr-2 mb-2"></p-skeleton>
                                <p-skeleton width="100%" height="1rem" class="me-2"></p-skeleton>
                            </div>
                          
                        </div>

                        <div class="form-group mb-3 mt-2">
                            <p-skeleton width="100%" height="3rem" class="me-2"></p-skeleton>
                        </div>
                            <div class="form-group mb-3">
                                <p-skeleton width="100%" height="3rem" class="me-2"></p-skeleton>
                            </div>

                            <div class="form-group mb-2 text-center">
                                <p-skeleton width="100%" height="3rem" class="me-2"></p-skeleton>
                            </div>

                            <div class="form-group mb-2">
                                <p-skeleton width="100%" height="3rem" class="me-2"></p-skeleton>
                            </div>

                            <div class="form-group mb-2 text-center">
                                <p-skeleton width="100%" height="1rem" class="me-2"></p-skeleton>
                            </div>
                     

                        

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

               

              
            </div> <!-- end col -->
      
       



       





        <!-- end row -->
    </div>
    <!-- end container -->
</div>




<p-dialog [modal]="true" header="End-User License Agreement" (onHide)="showPrivacy = false" [(visible)]="showPrivacy"
[style]="{width: '90vw'}" [breakpoints]="{'1024': '90vw'}">

<div class="row">
    
    <div class="col-sm-12 consent-content">

 
    
        <h1 class="p-title">End-User License Agreement ("Agreement")</h1>
        <p>Last updated: August 15, 2024</p>
    
        <p>Please read this End-User License Agreement carefully before clicking the "I Agree" button,
            downloading or using BuyScrapApp.</p>
    
        <h2>Interpretation and Definitions</h2>
    
        <h3>Interpretation</h3>
        <p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
            The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
    
        <h3>Definitions</h3>
        <p>For the purposes of this End-User License Agreement:</p>
        <ul class="list-group-item">
            <li><strong>Agreement</strong> means this End-User License Agreement that forms the entire agreement between You and the Company regarding the use of the Application.</li>
            <li><strong>Application</strong> means the software program provided by the Company downloaded by You to a Device, named BuyScrapApp.</li>
            <li><strong>Company</strong> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to CalWest Recycling LLC DBA BuyScrapApp, 30042 Mission Blvd Suite 121 #259.</li>
            <li><strong>Content</strong> refers to content such as text, images, or other information that can be posted, uploaded, linked to or otherwise made available by You, regardless of the form of that content.</li>
            <li><strong>Country</strong> refers to: California, United States.</li>
            <li><strong>Device</strong> means any device that can access the Application such as a computer, a cellphone, or a digital tablet.</li>
            <li><strong>Third-Party Services</strong> means any services or content (including data, information, applications and other products services) provided by a third-party that may be displayed, included or made available by the Application.</li>
            <li><strong>You</strong> means the individual accessing or using the Application or the company, or other legal entity on behalf of which such individual is accessing or using the Application, as applicable.</li>
        </ul>
    
        <h2  class="p-title">Acknowledgment</h2>
        <p>By clicking the "I Agree" button, downloading or using the Application, You are agreeing to be bound by the terms and conditions of this Agreement. If You do not agree to the terms of this Agreement, do not click on the "I Agree" button, do not download or do not use the Application.</p>
        <p>This Agreement is a legal document between You and the Company and it governs your use of the Application made available to You by the Company.</p>
        <p>The Application is licensed, not sold, to You by the Company for use strictly in accordance with the terms of this Agreement.</p>
    
        <h2  class="p-title">License</h2>
    
        <h3>Scope of License</h3>
        <p>The Company grants You a revocable, non-exclusive, non-transferable, limited license to download, install and use the Application strictly in accordance with the terms of this Agreement.</p>
        <p>The license that is granted to You by the Company is solely for your personal, non-commercial purposes strictly in accordance with the terms of this Agreement.</p>
    
        <h3>License Restrictions</h3>
        <p>You agree not to, and You will not permit others to:</p>
        <ul class="list-group-item">
            <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party.</li>
            <li>Copy or use the Application for any purpose other than as permitted under the above section 'License'.</li>
            <li>Modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any part of the Application.</li>
            <li>Remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of the Company or its affiliates, partners, suppliers or the licensors of the Application.</li>
        </ul>
    
        <h2  class="p-title">Content</h2>
    
        <h3>Content Restrictions</h3>
        <p>The Company is not responsible for the entries, information, or content of the Application's users. You expressly understand and agree that You are solely responsible for the Content and for all activity that occurs under Your account, whether done so by You or any third person using your account.</p>
        <p>You may not transmit any Content that is unlawful, offensive, upsetting, intended to disgust, threatening, libelous, defamatory, obscene or otherwise objectionable. Examples of such objectionable Content include, but are not limited to, the following:</p>
        <ul class="list-group-item">
            <li>Unlawful or promoting unlawful activity.</li>
            <li>Defamatory, discriminatory, or mean-spirited content, including references or commentary about religion, race, sexual orientation, gender, national/ethnic origin, or other targeted groups.</li>
            <li>Spam, machine generated content or randomly generated content, constituting unauthorized or unsolicited advertising, chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling.</li>
            <li>Containing or installing any viruses, worms, malware, trojan horses, or other content that is designed or intended to disrupt, damage, or limit the functioning of any software, hardware or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of a third person.</li>
            <li>Infringing on any proprietary rights of any party, including patent, trademark, trade secret, copyright, right of publicity or other rights.</li>
            <li>Impersonating any person or entity including the Company and its employees or representatives.</li>
            <li>Violating the privacy of any third person.</li>
            <li>False information and features.</li>
        </ul>
    
        <p>The Company reserves the right, but not the obligation, to, in its sole discretion, determine whether or not any Content is appropriate and complies with this Agreement, to refuse or remove any Content. The Company further reserves the right to make formatting and edits and change the manner of any Content. The Company can also limit or revoke the use of the Application if You post such objectionable Content.</p>
        <p>As the Company cannot control all content posted by users and/or third parties on the Application, you agree to use the Application at your own risk. You understand that by using the Application You may be exposed to content that You may find offensive, indecent, incorrect or objectionable, and You agree that under no circumstances will the Company be liable in any way for any content, including any errors or omissions in any content, or any loss or damage of any kind incurred as a result of your use of any content.</p>
    
        <h2  class="p-title">Intellectual Property</h2>
        <p>The Application, including without limitation all copyrights, patents, trademarks, trade secrets and other intellectual property rights are, and shall remain, the sole and exclusive property of the Company.</p>
        <p>The Company shall not be obligated to indemnify or defend You with respect to any third-party claim arising out of or relating to the Application. To the extent the Company is required to provide indemnification by applicable law, the Company shall be solely responsible for the investigation, defense, settlement and discharge of any claim that the Application or your use of it infringes any third party intellectual property rights.</p>
    
        <h3  class="p-title">Your Suggestions</h3>
        <p>Any feedback, comments, ideas, improvements or suggestions provided by You to the Company with respect to the Application shall remain the sole and exclusive property of the Company.</p>
        <p>The Company shall be free to use, copy, modify, publish, or redistribute the Suggestions for any purpose and in any way without any credit or any compensation to You.</p>
    
        <h2  class="p-title">Modifications to the Application</h2>
        <p>The Company reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without liability to You.</p>
    
        <h3  class="p-title">Updates to the Application</h3>
        <p>The Company may from time to time provide enhancements or improvements to the features/functionality of the Application, which may include patches, bug fixes, updates, upgrades and other modifications.</p>
        <p>Updates may modify or delete certain features and/or functionalities of the Application. You agree that the Company has no obligation to (i) provide any Updates, or (ii) continue to provide or enable any particular features and/or functionalities of the Application to You.</p>
    


        </div>

    </div>


    <ng-template pTemplate="footer">
        <p-button 
            label="I agree" 
            [text]="true" 
            severity="secondary" 
            />
      
    </ng-template>




</p-dialog>




