<div class="content">
    <div class="container-fluid">
  
      
      <div class="bdcmb mt-2">
        <div class="row align-items-center">
          <div class="col-sm-6 col-6">
            <h4 class="page-title">
              {{ isOrgPassword ? 'Change Organization Password' : 'Change Password' }}
            </h4>
          </div>
  
          <div class="col-sm-6 col-6 text-end" *ngIf="userRole === 'Administrator'">
            <label class="form-check form-switch d-inline-block">
              <input type="checkbox" class="form-check-input"
                     [(ngModel)]="isOrgPassword">
              <span class="form-check-label ms-2">
                {{ isOrgPassword ? 'Organization Password' : 'My Password' }}
              </span>
            </label>
          </div>
        </div>
      </div>
  
     
      <div class="row">
        <div class="col-sm-12">
          <div class="b-links">
            <a routerLink="/{{orgName}}/home">Home</a> /
            <a href="javascript:void(0)">
              {{ isOrgPassword ? 'Change Organization Password' : 'Change Password' }}
            </a>
          </div>
        </div>
      </div>
  
     
      <div class="row mt-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
  
             
              <div class="container-fluid">
                <h4 class="title-plus-border">
                  {{ isOrgPassword ? 'Update Organization Password' : 'Update Your Password' }}
                </h4>
              </div>
  
              <div class="row">
                
                <ng-container *ngIf="isOrgPassword">
                  
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">Old Org Password</label>
                    <input type="password" class="form-control" [(ngModel)]="orgKey">
                  </div>
  
                  
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">New Org Password</label>
                    <input type="password" class="form-control" [(ngModel)]="orgPassword.newPassword">
                  </div>
  
                  
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">Confirm Password</label>
                    <input type="password" class="form-control" [(ngModel)]="orgPassword.confirmPassword">
                  </div>
                </ng-container>
  
               
                <ng-container *ngIf="!isOrgPassword">
                  
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">Old Password</label>
                    <input type="password" class="form-control" [(ngModel)]="userPass">
                  </div>
  
                
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="userPassword.newPassword">
                  </div>
  
                  
                  <div class="form-group col-sm-4 mt-mob-10">
                    <label class="form-label w-100">Confirm Password</label>
                    <input type="password" class="form-control" [(ngModel)]="userPassword.confirmPassword">
                  </div>
                </ng-container>
              </div>
  
             
              <div class="row mt-20">
                <div class="col-sm-12">
                  <button class="btn btn-primary"
                          (click)="isOrgPassword ? updateOrganizationPassword() : updateUserPassword()">
                    SAVE
                  </button>
                </div>
              </div>
  
            </div> 
          </div> 
        </div> 
      </div> 
  
    </div> 
  </div> 
  <p-toast></p-toast>
  