
<div class="row">

    <div class="col-sm-12">
        <div class="broder border-secoudary" style="border: 1px solid;min-height: 200px;max-height: 200px;overflow-y: auto;" [ngStyle]="{display:signpad=='manual' ? 'block':'none'}">
            
            <canvas #canvasmanual width="500" height="200"  (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
        </div>

        <div class="broder border-secoudary" style="border: 1px solid;max-height: 200px;overflow-y: auto;" [ngStyle]="{display:signpad=='pen' ? 'block':'none'}">
           
            <canvas #canvaspen width="500" height="200"></canvas>
        </div>
        
    </div>

    <!-- <div class="col-sm-6">
        <div class="broder border-secoudary" style="border: 1px solid;min-height: 200px;max-height: 200px;overflow-x: auto;">
        <div >
          
            <img  *ngIf="signatureNeeded && signpad=='pen' && signatureImg" [src]="'data:image/jpg;base64,' + signatureImg" class="dl-img1">
            <img  *ngIf="signatureNeeded && signpad=='manual' && signatureImg" [src]="signatureImg" class="dl-img1">
        </div>
        </div> 
    </div> -->

</div>


<div class="mt-2 mb-2">
    <a id="save-image-btn" class="btn btn-primary me-1" *ngIf="signpad=='manual'" (click)="savePad()">Save Image</a>
    <a id="save-image-btn" class="btn btn-primary me-1" *ngIf="signpad=='pen'" (click)="onDone()">Save Image</a>
    <a id="save-image-btn" class="btn btn-primary me-1" (click)="clearPad()">Clear</a>
</div>




