<div class="row">
    <div class="col-sm-12">
        
        <form action="">
            
            <div class="form-group col-sm-12 mb-2">
                <label for="simpleinput" class="form-label w-100">Select Scrap Material Camera</label>
                <select id="cameraSelect" class="form-control" onchange="selectCamera()">
                    <option value="">Select a camera</option>
                </select>
            </div>

            <div class="form-group col-sm-12 mb-2">
                <label for="simpleinput" class="form-label w-100">Select Default Camera</label>
                <select id="cameraSelect" class="form-control" onchange="selectCamera()">
                    <option value="">Select a camera</option>
                </select>
            </div>

            <a class="btn btn-primary btn-materials">Save</a>
        </form>

    </div>
</div>