.custom-height {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.image-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr; 
}


.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 12px;
  }
  


  @media screen and (min-width: 1900px) {
    .img-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 12px;
      }

  }
 

