            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Sub Materials</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a routerLink="/{{orgName}}/home">Home</a> / <a routerLink="/{{orgName}}/materials">Materials</a> / <a href="javscript:void()" routerLink="/{{orgName}}/materials/detail/{{defaultMaterialId}}">Sub Materials</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <input type="text" id="example-palaceholder" class="form-control"
                                 placeholder="Search Sub Materials" [(ngModel)] = "searchTerm" (ngModelChange) = "search()">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar (iconAction)="getAction($event)" [actions]="actionList"></app-actionbar>
                            </div>                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card custom-height">
                                    <div class="card-body">
                                        <div class="row">
                                        <ng-container *ngIf="mainMaterialsVisible" >
                                            <div class="col-sm-3" *ngFor="let item of materialList">
                                                <div class="materials-pg-boxes">
                                                    <a routerLink = "/{{orgName}}/materials/{{item.rowId}}">
                                                        <img src="assets/images/custom/materials/Default-Scrap-Material.png">
                                                    </a>
                                                    <ul class="materials-name-edit-ul">
                                                        <li><h4>{{item.groupName}}</h4></li>
                                                        <li><a (click)="showDialog()" class="btn btn-materials-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!mainMaterialsVisible" >
                                            <div class="col-sm-3" *ngFor="let item of subMaterialList">
                                                <div class="materials-pg-boxes">
                                                    <img src="assets/images/custom/materials/Default-Scrap-Material.png">
                                                    <ul class="materials-name-edit-ul">
                                                        <li>{{item.materialName}}</li>
                                                    </ul>
                                                    <ul class="materials-name-edit-ul">
                                                        <li>Scrap Price - {{item.scrapPrice}}</li>
                                                        <li><a (click)="showDialog(item)" class="btn btn-materials-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ng-container>
                                        </div>
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>





            <p-dialog
                [header]="isEditModeOn == true? 'Edit Sub-Material' : 'Add Sub-Material'"
                [(visible)]="visible"
                [style]="{ width: '60vw' }"
            >
                <div class="row">
                                    
                    <div class="col-sm-12">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="form-group col-sm-6 mb-2">
                                    <div class="form-floating">
                                        <label hidden formControlName="rowId">0</label>
                                        <input formControlName="materialName" type="text" class="form-control">
                                        <label for="floatingInput">Product Name</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 mb-2">
                                    <div class="form-floating">                                        
                                        <select class="form-select" formControlName="groupId">
                                            <option *ngFor="let option of materialList"
                                            [value]="option.rowId">
                                                {{ option.groupName }}
                                            </option>
                                        </select>
                                        <label for="floatingInput">Product Group</label>
                                    </div>
                                    <!-- <label for="example-select" class="form-label">Units of Measure</label> -->
                                </div>
                            </div>

                            <div class="form-group col-sm-12 mb-2">                            
                                <div class="form-floating">
                                    <input formControlName="description" type="text" class="form-control">
                                    <label for="floatingInput">Description</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-floating">
                                        <input formControlName="marketPrice" type="text" class="form-control">
                                        <label for="floatingInput">Market Price</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-floating">
                                        <input formControlName="scrapPrice" type="text" class="form-control">
                                        <label for="floatingInput">Scrap Price</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 mb-2">
                                    <button class="btn btn-primary">Edit</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-floating">
                                        <input formControlName="dealerPrice1" type="text" class="form-control">
                                        <label for="floatingInput">Dealer 1 Percentage</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-floating">
                                        <input formControlName="dealerPrice2" type="text" class="form-control">
                                        <label for="floatingInput">Dealer 2 Percentage</label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-floating">
                                        <input formControlName="dealerPrice3" type="text" class="form-control">
                                        <label for="floatingInput">Dealer 3 Percentage</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="isHold"  formControlName="isHold">
                                        <label class="form-check-label" for="isHold">Payment Hold</label>
                                    </div>
                                </div>                                
                                <div class="form-group col-sm-4 mb-2">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="isEnable"  formControlName="isEnable">
                                        <label class="form-check-label" for="isEnable">Enable</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-sm-12 mb-2">
                                <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Upload Image</button>
                                <input type='file' id="upload" style="display:none">

                                <div id="image-preview" class="mt-10"></div>
                            </div>

                            <a class="btn btn-primary btn-materials" (click)="onSubmit(materialData)">Save</a>

                        </form>
                    </div>

                </div>
            </p-dialog>         

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
