<div class="card">
    <div class="card-body px-1 py-0" style="padding-top: 6px !important; padding-bottom: 6px !important;">
      
    <div class="container px-0 py-0">  
        <div class="row">
            <div class="col-12"   > 
                &nbsp; 
            </div>
        </div>
    
      <div class="row">
          <div class="col-12"   >
            <div pTooltip="{{itemGroupName}} ==> {{itemMaterialName}}" tooltipPosition="bottom" > {{itemGroupName}} - {{itemMaterialName}}</div>
                     
          </div>
          <div class="col-12"   >
            <button type="button" class="btn btn-primary mb-1" (click)="changeItem()">Change Item</button>          
          </div>
      </div>
    </div>
    <div class="container px-0 py-0">
      <div class="row">
          <div class="col-md-4">
              <label for="gross">Gross:</label>
          </div>
          <div class="col-md-8">
              <div class="input-group">
                  <input type="text" placeholder="Enter Gross Weight" #inputBox1 [(ngModel)]="grossInput" (focus)="focusedInput = 'inputBox1'"   id="gross" class="form-control  h-30 mb-1 ps-0">
                  <div class="input-group-append" *ngIf="grossInput">
                    <button class="btn btn-outline-secondary h-30 px-0 py-0" type="button" (click)="grossInput ='0'">
                      <i class="bi bi-x"></i>
                    </button>
                  </div>
                </div>
             
          </div>
      </div>
    
      <!-- Add more rows for additional input boxes -->
      <div class="row">
          <div class="col-md-4">
              <label for="Tare">Tare:</label>
          </div>
          <div class="col-md-8">
              <div class="input-group">
                  <input type="text" placeholder="Enter Tare Weight" #inputBox2  [(ngModel)]="tareInput" (focus)="focusedInput = 'inputBox2'"   id="gross" class="form-control  h-30 mb-1 ps-0">
                  <div class="input-group-append" *ngIf="tareInput">
                    <button class="btn btn-outline-secondary h-30 px-0 py-0" type="button" (click)="tareInput ='0'">
                      <i class="bi bi-x"></i>
                    </button>
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="Net">Net:</label>
          </div>
          <div class="col-md-8">
              <div class="input-group">
                  <input type="text" readonly placeholder="Net Weight" #inputBox3  [(ngModel)]="netInput" value = "{{grossInput - tareInput}}" (focus)="focusedInput = 'inputBox3'"   id="gross" class="form-control  h-30 mb-1 ps-0">
                  <!-- <div class="input-group-append" *ngIf="netInput">
                    <button class="btn btn-outline-secondary h-30 px-0 py-0" type="button" (click)="netInput =''">
                      <i class="bi bi-x"></i>
                    </button>
                  </div> -->
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label for="Available Net">Available Net:</label>
          </div>
          <div class="col-md-8">
              <div class="input-group">
                  <input type="text" #inputBox4 [(ngModel)]="availableNetInput" (focus)="focusedInput = 'inputBox4'"   id="gross" class="form-control  h-30 mb-1 ps-0">
                  <!-- <div class="input-group-append" *ngIf="availableNetInput">
                    <button class="btn btn-outline-secondary h-30 px-0 py-0" type="button" (click)="availableNetInput ='0'">
                      <i class="bi bi-x"></i>
                    </button>
                  </div> -->
              </div>
          </div>
      </div>
    
      <!-- Add more rows as needed for additional input boxes -->
    </div>
    
    <div class="calculator"  >
      <button class="btn-cal" (click)="appendNumber(1)">1</button>
      <button class="btn-cal" (click)="appendNumber(2)">2</button>
      <button class="btn-cal" (click)="appendNumber(3)">3</button>
      <button class="btn-cal operator btn-danger" (click)="deleteCharacter()">Del</button>
      <button class="btn-cal " (click)="appendNumber(4)">4</button>
      <button class="btn-cal" (click)="appendNumber(5)">5</button>
      <button class="btn-cal" (click)="appendNumber(6)">6</button>
      <button class="btn-cal" (click)="appendNumber(7)">7</button>
      <button class="btn-cal" (click)="appendNumber(8)">8</button>
      <button class="btn-cal" (click)="appendNumber(9)">9</button>
      <button class="btn-cal operator btn-success" (click)="enter()">Enter</button>
      <button class="btn-cal" (click)="appendNumber(0)">0</button>
      <button class="btn-cal" (click)="appendNumber('00')">00</button>
      <button class="btn-cal" (click)="appendNumber('.')">.</button>
    
    
    </div>
    </div>
    </div>    
    