/* ============================ Upload Images ================================ */

.box {
  display: block;
/*  min-width: 300px;*/
  height: 184px;
/*  margin: 10px;*/
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
/*.upload-options label::after {
  content: "add";
  font-family: "Material Icons";
  position: absolute;
  font-size: 2.5rem;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}*/
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 110px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "Image";
  font-family: "Material Icons";
  position: relative;
  font-size: 3em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.js--image-preview:nth-child(2) {
  background-image: url("http://bastianandre.at/giphy.gif");
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* ============================ Upload Images ================================ */

/* ============================ Materials Box ================================ */
#mainbox, #innerdiv1, #innerdiv2, #innerdiv3, #innerdiv4, #innerdiv5, #innerdiv6, #innerdiv7, #innerdiv8 {
  box-shadow: 0px 0px 3px grey; padding: 10px; margin: 10px; background: #f1f1f1; text-align: center;
}
/* ============================ Materials Box ================================ */

/* ============================ Numpad CSS ================================ */

/* Form styles */
.input-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
/*  margin-right: 20px;*/
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 80%;
}

.input-container input:focus{border: 1px solid grey !important;}

/* Number pad styles */
.num-pad {
/*  margin-top: 20px;*/
}

.num-pad .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.num-pad button {
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    font-size: 20px;
    background-color: #f5f5f5;
    color: #000;
    width: calc(33.33% - 8px);
}

.num-pad .clear-btn {
  background-color: #ffcc00;
  color: #000;
}

.num-pad .delete-btn {
  background-color: #ff3333;
  color: #fff;
}

.num-pad .notes-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin: 0 auto;
/*  width: 50%;*/
}

.num-pad .enter-btn {
  background-color: green;
  color: #fff;
  border: 1px solid #ccc;
/*  width: 50%;*/
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 12px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 5px;
  position: relative;
}

.modal-header{padding:5px !important;}

.modal-content .close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  width: 20%;
  font-size: 17px;
  font-weight: 600;
}

.modal-content textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}

.modal-content .save-btn {
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* ============================ Numpad CSS ================================ */

/* ============================ Dropdown Div Show Hide CSS ================================ */
.myDiv{
	display:none;
    margin-top:15px;
}  

/* ============================ Dropdown Div Show Hide CSS ================================ */

/* ================================== Margin CSS Code =================================*/
.mt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-25{margin-top: 25px !important;}
.mt-30{margin-top: 30px !important;}
.mt-35{margin-top: 35px !important;}
.mt-40{margin-top: 40px !important;}
.mt-45{margin-top: 45px !important;}
.mt-50{margin-top: 50px !important;}
.mt-55{margin-top: 55px !important;}
.mt-60{margin-top: 60px !important;}
.mt-65{margin-top: 65px !important;}
.mt-70{margin-top: 70px !important;}
.mt-75{margin-top: 75px !important;}
.mt-80{margin-top: 80px !important;}
.mt-85{margin-top: 85px !important;}
.mt-90{margin-top: 90px !important;}
.mt-95{margin-top: 95px !important;}
.mt-100{margin-top: 100px !important;}

.mb-5{margin-bottom: 5px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-15{margin-bottom: 15px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-25{margin-bottom: 25px !important;}
.mb-30{margin-bottom: 30px !important;}
.mb-35{margin-bottom: 35px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-45{margin-bottom: 45px !important;}
.mb-50{margin-bottom: 50px !important;}
.mb-55{margin-bottom: 55px !important;}
.mb-60{margin-bottom: 60px !important;}
.mb-65{margin-bottom: 65px !important;}
.mb-70{margin-bottom: 70px !important;}
.mb-75{margin-bottom: 75px !important;}
.mb-80{margin-bottom: 80px !important;}
.mb-85{margin-bottom: 85px !important;}
.mb-90{margin-bottom: 90px !important;}
.mb-95{margin-bottom: 95px !important;}
.mb-100{margin-bottom: 100px !important;}

.ml-5{margin-left: 5px !important;}
.ml-10{margin-left: 10px !important;}
.ml-15{margin-left: 15px !important;}
.ml-20{margin-left: 20px !important;}
.ml-25{margin-left: 25px !important;}
.ml-30{margin-left: 30px !important;}
.ml-35{margin-left: 35px !important;}
.ml-40{margin-left: 40px !important;}
.ml-45{margin-left: 45px !important;}
.ml-50{margin-left: 50px !important;}
.ml-55{margin-left: 55px !important;}
.ml-60{margin-left: 60px !important;}
.ml-65{margin-left: 65px !important;}
.ml-70{margin-left: 70px !important;}
.ml-75{margin-left: 75px !important;}
.ml-80{margin-left: 80px !important;}
.ml-85{margin-left: 85px !important;}
.ml-90{margin-left: 90px !important;}
.ml-95{margin-left: 95px !important;}
.ml-100{margin-left: 100px !important;}

.mr-5{margin-right: 5px !important;}
.mr-10{margin-right: 10px !important;}
.mr-15{margin-right: 15px !important;}
.mr-20{margin-right: 20px !important;}
.mr-25{margin-right: 25px !important;}
.mr-30{margin-right: 30px !important;}
.mr-35{margin-right: 35px !important;}
.mr-40{margin-right: 40px !important;}
.mr-45{margin-right: 45px !important;}
.mr-50{margin-right: 50px !important;}
.mr-55{margin-right: 55px !important;}
.mr-60{margin-right: 60px !important;}
.mr-65{margin-right: 65px !important;}
.mr-70{margin-right: 70px !important;}
.mr-75{margin-right: 75px !important;}
.mr-80{margin-right: 80px !important;}
.mr-85{margin-right: 85px !important;}
.mr-90{margin-right: 90px !important;}
.mr-95{margin-right: 95px !important;}
.mr-100{margin-right: 100px !important;}

/* ================================== Margin CSS Code =================================*/

/* ================================== Image Upload and Dispaly CSS Code =================================*/
#image-preview {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding:10px;
}
/* ================================== Image Upload and Dispaly CSS Code =================================*/


body.authentication-bg{background-color: #F5F5F5 !important;}
.card-body{box-shadow: 0px 0px 2px grey !important;}
.btn-primary-bsa{background-color: #0176B8 !important; border-color: #0176B8 !important;}
.custom-control-input:checked~.custom-control-label::before{border-color: #0176B8 !important; background-color: #0176B8 !important;}
/*.account-pages-bsa a{color: #0176B8 !important;}*/
.navbar-custom .button-menu-mobile{position: relative; left: 65px;}
.left-side-menu{background: #02659d !important;}
.nav-second-level li a{color: #ffffff !important;}
#sidebar-menu>ul>li>a{color: #ffffff !important;}
.fa-t{font-size: 10px !important;}
.balance-details-ul{line-height:60px;}
.balance-details-ul li{display: inline-block; margin-right:10px; color: #ffffff;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color: #0176B8 !important;}
.dark-color{color:#333333;}
.color-white{color: #ffffff !important;}
.dash-icons{height:22px; margin-right: 8px;}
.menu-links-text{color:#fff; margin-left: 0px;}
html[data-sidenav-size="condensed"]:not([data-layout="horizontal"]) .app-menu .menu > .menu-item:hover > .menu-link::after{width:295px !important; --ct-leftbar-width: 295px !important;}
.menu .menu-item .menu-link{padding:10px 5px !important;}
.form-control{appearance: auto !important;}
.btn-block{display: block; width: 100%;}
.btn-success{background:green !important;}
.btn-spl{font-size: 16px !important;}
.btn-grid{padding:3px 10px !important;}
.btn-danger{background:#c90303 !important;}
.btn-square-less-padd{padding:2px 8px !important;}
.mdi-cust{font-size: 20px;}
.upload-all{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.upload-options-ul li{display:inline; margin-right: 10px;}
.upload-options-ul{background: #02659d; position: relative; bottom: -36px; text-align: center; padding-left: 0; height: 48px;}
.mdi-white-color{color:#fff;}
.mdi-cust-upload{font-size:25px;}
.upload-a{cursor:pointer;}
.seller-view-tbl tr td{border:1px solid #dee2e6; padding:5px;}
.ticket-details-tbl tr td{border:1px solid #dee2e6; padding:5px;}
.ticket-details-tbl th{border:1px solid #dee2e6; padding:5px;}
.dl-img{height:80px;}
.menu-item .active .menu-links-text{color:yellow;}
.b-links a{color:#fff;}
.bdcmb{background: #02659d; padding: 0 10px; box-shadow: 0px 0px 3px grey;}
.b-links{margin-top: 8px; float: right; color:#fff;}
.page-title{color:#fff;}
.form-floating>label{top: -9px !important;}
.form-floating>.form-control{height: calc(2.5rem + 2px) !important;}
.small-img{height:30px; margin-right: 5px;}
.app-version{position: absolute; bottom:10px;}
.ticket-summary-div{margin-top:20px !important;}
.color-green{color: green;}
.materials-heading{font-weight: 500; color: #343a40; text-align: center;}
.btn-materials-2{font-weight: 500; color: #343a40; font-size: 18px;}
.ticket-details-p{margin-bottom: 0;}
.btn-back{padding:2px 8px !important;}
.btn-materials-inner{margin-bottom: 10px; width: 84px; padding: 5px !important;}
.ticket-particulars-img{height:40px;}
#numpad-div {
  display: none;
}
.numpad-heading-tbl h4{margin-left:10px;}
.numpad-heading-btn{margin-left:10px;}
.title-plus-border{border-bottom: 1px solid #dee2e6; padding-bottom: 5px; margin-bottom: 10px;}
.title-plus-border:after{content: ""; display: block; border-bottom: 1px solid #02659d; width: 25%; position: relative; bottom: -6px;}
.seller-view-tbl{width: 100%;}
.ticket-details-tbl{width: 100%;}
.materials-ul li{text-decoration: none; display: inline-block;}
.btn-materials{margin-bottom: 10px; width: 84px; padding: 5px !important;}
.materials-ul{margin-bottom: 0; padding-left: 0;}
.mainbox-row{background:#f5f5f5; text-align: center; padding: 10px; box-shadow: 0px 0px 3px grey;}
.ticket-details-new-tbl{width:100%;}
.ticket-details-new-tbl tr{border-bottom:1px solid #dee2e6;}
.ticket-details-new-tbl tr td{padding: 5px;}
.materials-name-edit-ul{padding-left:0; margin-bottom: 0; text-align: center; display: flex; align-items: center; justify-content: center;}
.materials-name-edit-ul li{list-style: none; display: inline-block; margin: 0 5px;}
.materials-name-edit-ul li h4{font-size: 16px; line-height: 22px;}
.materials-pg-boxes img{width:100%; padding: 10px 10px 0 10px;}
.materials-pg-boxes{background: #f5f5f5; box-shadow: 0px 0px 3px grey; border-radius: 10px; margin-bottom: 20px;}
.btn-materials-pg{border:1px solid grey !important; color: #02659d !important; padding: 2px 5px !important;}
.adjustment-pg-boxes img{width:100%; padding: 10px 10px 0 10px;}
.adjustment-pg-boxes{background: #f5f5f5; box-shadow: 0px 0px 3px grey; border-radius: 10px; margin-bottom: 20px;}
.adjustment-name-edit-ul{padding-left:0; margin-bottom: 0; text-align: center; display: flex; align-items: center; justify-content: center;}
.adjustment-name-edit-ul li{list-style: none; display: inline-block; margin: 0 5px;}
.btn-adjustment-pg{border:1px solid grey !important; color: #02659d !important; padding: 2px 5px !important;}
.adjustment-name-edit-ul li h4{font-size: 16px; line-height: 22px;}
.btn-back-2{margin-right: 10px;}
.img-responsive{width:100%;}
.pd-imgs{background:#f5f5f5; padding:10px; border:1px solid transparent;}
.pd-imgs:hover{background: aliceblue; border:1px solid grey;}
.pd-imgs:focus{background: aliceblue; border:1px solid grey;}
.btn-display-block{display: block;}
.certificates-img{min-width:55px;}
.bg-light-grey{background:#f5f5f5; padding: 5px 10px;}
.money-button{padding:10px; color:#fff; width: 100%; display: block;}
.money-button-red{background:#ec5756;}
.money-button-green{background:green;}
.money-button-blue{background:#02659d;}
.report-button{padding:10px; color:#fff; width: 100%; display: block; background: #3ba3fd; font-weight: 600; font-size: 20px;}
.settings-button{padding:10px; color:#fff; width: 100%; display: block; background: #3ba3fd; font-weight: 600; font-size: 20px;}



@media only screen and (min-width:576px){
.pay-print-box{margin-top: 55px !important; text-align: right;}
}

@media only screen and (max-width:576px){
.box{margin-bottom:20px; }
.mainbox-row{margin-top:20px;}
.pay-print-box{margin-top:20px !important; text-align: center;}
}

@media only screen and (max-width:768px){
.navbar-custom .button-menu-mobile{color:black !important;}
.navbar-custom .button-menu-mobile{left:0px; top: -17px;}
.balance-bar-desktop{display:none;}
.balance-bar-mobile{display:block;}
.topbar-menu{padding-left:0 !important;}
.form-group{margin-top:15px !important;}
}

@media only screen and (min-width:768px){
.table>:not(caption)>*>*{padding:5px !important;}
.balance-bar-desktop{display:block;}
.balance-bar-mobile{display:none;}
.btn-materials{margin-bottom: 10px; width: 84px; padding: 5px !important;}
}

@media only screen and (max-width:991px){
.ticket-details-tbl{display: block; overflow-x: auto; white-space: nowrap;}
.ticket-details-new-tbl{display: block; overflow-x: auto; white-space: nowrap;}
}