<div class="content" *ngIf="!showLoader">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- <div class="row mt-2">
            <div class="col text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
            </div>
            
        </div> -->

        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">Ship Out Details</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a routerLink="/{{orgName}}/home">Home</a> / <a routerLink="/{{orgName}}/ship-out">Ship Out</a> / <a href="javscript:void()" routerLink="/{{orgName}}/ship-out/details/{{shipoutId}}">Ship Out Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">

                            <div class="col-sm-12">
                                <table class="seller-view-tbl">
                                    <tr>
                                        <td>Business - {{shipout.customerName}}</td>
                                        <td>Address - {{shipout.streetAddress}}</td>
                                        <td>Driver - {{shipout.driverName}}</td>
                                        <td>DL# - {{shipout.rowId}}</td>
                                    </tr>

                                    <tr>
                                        <td>Truck - {{shipout.truck}}</td>
                                        <td>Vehicle Colour - </td>
                                        <td>Created on : <label>{{shipout.createdDate | date: 'MM/dd/yyyy'}}</label></td>
                                        <td>By <label>Sanket Yoshi</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr>

                        <div class="row mt-3">
                            <div class="container-fluid"><h4 class="title-plus-border">Particulars</h4></div>
                            <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Gross(M)</th>
                                        <th>Tare</th>
                                        <th>Net</th>
                                    </tr>
                                </thead>
                                        
                                        
                                <tbody>
                                    <tr>
                                        <td>Aluminium Extrusion(Clean)</td>
                                        <td>12</td>
                                        <td>1</td>
                                        <td>11</td>
                                    </tr>
                                                                                                
                                </tbody>
                            </table>
                        </div>

                        <hr>

                        <p class="ticket-details-p"><b>Total LBS</b></p>

                                <table class="ticket-details-tbl">
                                    <thead>
                                        <th>Material</th>
                                        <th>Gross(M)</th>
                                        <th>Tare</th>
                                        <th>Net</th>
                                    </thead>

                                    <tbody> 

                                        <tr>
                                            <td>1</td>
                                            <td>12</td>
                                            <td>1</td>
                                            <td>11</td>
                                        </tr>                                                     
                                    </tbody>
                                    
                                </table>

                                <!-- <div class="row ticket-summary-div">
                                    <div class="col-sm-4">
                                        <b>Paid Amount - 0.000</b>
                                    </div>

                                    <div class="col-sm-4">
                                        <b>Balance Amount - 29.000</b>
                                    </div>
                                </div> -->

                                <div class="row ticket-summary-div">
                                    <!-- <div class="col-sm-4 mb-1">
                                        <a href="#" class="btn btn-danger">Pay Ticket</a>
                                    </div> -->

                                    <div class="col-sm-4">
                                        <a href="javscript:void(0)" class="btn btn-primary">Print</a>
                                    </div>
                                </div>
                    
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->

        </div>
        <!-- end row-->     
        
    </div> <!-- container -->

</div> 

<div class="content" *ngIf="showLoader">
    <app-page-loader type="ftable"></app-page-loader>
</div>