<div class="content" *ngIf="!isLoading">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">Ship Out Details</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a routerLink="/{{orgName}}/home">Home</a> / <a routerLink="/{{orgName}}/ship-out">Ship Out</a> / <a href="javscript:void()">Ship Out Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="height:calc(100vh - 147px)">

                      

                        <div class="row">
                            <div [ngClass]="!isEditModeOn && !editItemCloseImageCapture? 'col-sm-12' : 'col-sm-6'">

                                <div class="row">
                                    <div class="col-sm-12">
        
                                        <div class="row">
                                           <div class="col-sm-6 d-flex">
                                                <h4 class="ticket-number me-1">Ship-out # - {{shipoutId}}</h4>
                                                <!-- <a href="javascript:void(0)" class="btn btn-grid btn-primary waves-effect waves-light ms-1 mb-1">
                                                    <i class="mdi mdi-plus"></i>  COD Required
                                                </a> -->
                                           </div>
        
                                           <div class="col-sm-6 d-flex justify-content-end">
                                            <a  class="btn  btn-primary waves-effect waves-light ticket-edit me-1" routerLink="/{{orgName}}/ship-out">
                                                Back
                                            </a>
                                            <!-- <a *ngIf="!isEditModeOn" class="btn  btn-primary waves-effect waves-light ticket-edit flt-right me-1" (click)="editTicketDetails()">
                                                <i class="mdi mdi-pencil"></i> Edit
                                            </a> -->

                                           
                                           
                   
                                            <div *ngIf="isEditModeOn" class="waves-effect waves-light ticket-edit flt-right">
                                                <!-- <a class="btn btn-danger me-1" (click)="cancelEditTicket()">Cancel</a> -->
                                                <a class="btn btn-primary" (click)="confirmSave()">Save</a>
                                            </div>
        
                                            
                                            <div *ngIf="!isEditModeOn" class="waves-effect waves-light ticket-edit flt-right">
                                                <a class="btn btn-primary" (click)="generateShipOutReport()">Print</a>
                                            </div>
        
                                           </div> 
                                        </div>
        
                                        <table class="seller-view-tbl">
                                            <tbody>
                                            <tr>
                                                <td>Business : {{shipOutDetails?.customerName}}</td>
                                                <td>Address : {{shipOutDetails?.streetAddress}}</td>
                                                <td>Driver : {{shipOutDetails?.driverName}}</td>
                                            </tr>
        
                                            <tr>
                                                <td>DL# - {{shipOutDetails?.rowId}}</td>
                                                <td>Truck - {{shipOutDetails?.truck}}</td>
                                                <td>By - <label>{{user?.firstName}} {{user?.lastName}}</label></td>
                                            </tr>
                                        </tbody></table>
                                    </div>
                                </div>
        
                                <hr>
        
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="title-plus-border">Particulars</h4>                                                
                                    </div>
                                </div>


                                
                                <div class="row">
                                    <div style="overflow-y: scroll;height:calc(100vh - 425px);">
                                        <p-table class="ticket-table" #dt1 [value]="ticketObj" 
                                            [paginator]="false" 
                                            [rows]="10"
                                            [loading]="isLoading"
                                            [responsive]="true"
                                        
                                            [showCurrentPageReport]="false"
                                            [scrollable]="true" 
                                            >
                
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <!-- <th pSortableColumn="name">Name <p-sortIcon [field]="'name'"></p-sortIcon></th> -->
                                                    <!-- <th pSortableColumn="gross"> <p-sortIcon [field]="'gross'"></p-sortIcon>Gross(M)</th> -->

                                                    <th style="width: 40%">Material</th>
                                                    <th>Gross(M)</th>
                                                    <th>Tare</th>
                                                    <th>Net</th>
                                                    <th *ngIf="isEditModeOn">Action</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-ticket let-rowIndex="rowIndex">

                                                <ng-container *ngIf="isEditModeOn">
                                                    <tr class='border-tr'>
                                                        
                                                        <td style="width: 40%;">{{ ticket.materialName }}</td>
                                                        <td>{{ ticket.gross  }}</td>
                                                        <td>{{ ticket.tare }}</td>
                                                        <td>{{ ticket.net }}</td>
                                                        <td *ngIf="isEditModeOn">                                                            
                                                            <a data-bs-toggle="modal" data-bs-target="#capture-image" (click)="editItem(ticket)"
                                                            class="btn btn-grid btn-primary waves-effect waves-light me-1">
                                                                <i class="mdi mdi-pencil"></i> Edit
                                                            </a> 
                                                            <!-- <a data-bs-toggle="modal" data-bs-target="#capture-image" (click)="false && editItem(ticket)"
                                                            class="btn btn-grid btn-primary waves-effect waves-light me-1" [ngClass]="{'opacity-25': 1==1}">
                                                                <i class="mdi mdi-pencil"></i> Edit
                                                            </a>  -->
                                                            
                                                            <a class="btn btn-grid btn-danger waves-effect waves-light" (click)="deleteItem(rowIndex)">
                                                                <i class="mdi mdi-trash-can-outline"></i> Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                                <ng-container *ngIf="!isEditModeOn" >
                                                    <tr class="border-tr">
                                                        <td style="width: 40%;">{{ ticket.materialName }}</td>
                                                        <td>{{ ticket.gross  }}</td>
                                                        <td>{{ ticket.tare }}</td>
                                                        <td>{{ ticket.net }}</td>                                                        
                                                    </tr>
                                                </ng-container>
                                              
                                            </ng-template>
                                            
                                        </p-table>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div style="position: absolute; bottom: 10px; right: 5px; left: 5px;"  [class]="isEditModeOn && !editItemCloseImageCapture? 'col-sm-6' : 'col-sm-12'">
                                        <div class="row" style="background: var(--ct-card-bg);">
                                            <div class="col-sm-12 px-10 py-10">
        
                                                <p class="ticket-details-p fz-14"><b>Total LBS</b></p>
        
                                                <table class="ticket-details-tbl">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 25%;">Material</th>
                                                            <th style="width: 25%;">Gross(M)</th>
                                                            <th style="width: 25%;">Tare</th>
                                                            <th style="width: 25%;">Net</th>
                                                    </tr></thead>
        
                                                    <tbody> 
                                                        <tr>
                                                            <td>{{totalNoOfMaterial}}</td>
                                                            <td>{{totalGross}}</td>
                                                            <td>{{totalTare}}</td>
                                                            <td>{{totalNet}}</td>
                                                        </tr>                                                     
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="row mt-2">   
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-sm-6 pl-0" *ngIf="isEditModeOn && !editItemCloseImageCapture">
                                
                                <div *ngIf="mainMaterialsVisible" id="mainbox" class="mainbox-row" style="height:calc(100vh - 160px)">
                                    <h4 class="materials-heading">Materials</h4>

                                    <div>
                                        <input
                                         type="text"
                                         id="searchMaterialInput"
                                         #searchMaterialInput
                                         (keyup)="searchMaterial($event)"
                                        class="form-control w-100"
                                        placeholder="Search  Material"
                                        aria-describedby="helpId"
                                    />
                                        
                                    </div>

  
                                    <ul class="main-ul mt-1">
                                      
                                      <ng-container  *ngFor="let item of materialList" >
                                          <li>
                                              <a id="showInnerDiv1" class="btn custom-lh"  
                                              pTooltip="{{item.groupName}}" tooltipPosition="bottom" placeholder="Bottom"
                                              (click)="getSubMaterials(item.rowId, item.groupName, false)">
                                                  {{item.groupName}}
                                              </a>
                                          </li>
                                      </ng-container>
                                    </ul>
                                    
                                </div>
  
                                <div *ngIf="!mainMaterialsVisible" id="innerdiv1" class="mainbox-row" style="height:calc(100vh - 160px)">
                                    <h1 class="materials-heading">
                                      <span>
                                          <a id="backToMainBox1" class="btn btn-primary " (click)="backToMainMaterials()"><i class="mdi mdi-keyboard-backspace"></i></a>
                                      </span>
                                       <div class="main-material"> Main Material - {{selectedMaterial}}</div>
                                  </h1>

                                  <div>
                                    <input
                                     type="text"
                                     
                                     #searchsubMaterialInput
                                     (keyup)="searchSubMaterial($event)"
                                    class="form-control w-100"
                                    placeholder="Search  Material"
                                    aria-describedby="helpId"
                                />
                                    
                                </div>
                       
                                    <ul class="main-ul mt-1">
                                      <ng-container  *ngFor="let item of subMaterialList" >
                                          <li>
                                              <a (click)="addItem(item.rowId, item.materialName, selectedMaterial, item.scrapPrice)"
                                              pTooltip="{{item.materialName}}" tooltipPosition="bottom" placeholder="Bottom"
                                              class="btn  custom-lh">{{item.materialName}}</a>
                                          </li>
                                      </ng-container>                                     
                                    </ul>
  
                                </div>
                            </div>
                            




                            <!-- <div class="col-sm-6" *ngIf="isEditModeOn && editItemCloseImageCapture">
                                <div class="calc" style="height:calc(100vh - 150px);width:100%;overflow: hidden;">

                                    <app-material-calculator style="height: 100%;" (calculateObj)="calculation($event)" (changeItemEvent)="changeItem()"
                                        [itemAvailableNet]="itemAvailableNet" [itemNet]="itemNet" [itemTare]="itemTare" [itemGross]="itemGross" (backClose)="changeItem()" 
                                        [itemGroupName]="itemGroupName" [itemMaterialName]="itemMaterialName" [materialNote]="materialNote" [itemImagePath]="itemImagePath?itemImagePath:itemDefaultImagePath">
                                    </app-material-calculator>

                                </div>
                            </div> -->
                        </div>
                    
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->

        </div>
        <!-- end row-->     
        
    </div> <!-- container -->

</div>


<div class="content" *ngIf="isLoading">
  <app-page-loader type="ftable"></app-page-loader>
</div>

<ng-container *ngIf="!checkTabView">


<p-dialog header="Shipout Report" [(visible)]="showDownload" (onHide)="closePdfReport()" [modal]="true" [style]="{ width: '70vw' }">
    <div class="row" >
      <div style="height: 500px;" *ngIf="showDownload">                
        <ngx-extended-pdf-viewer   [base64Src]="fileDataObj"></ngx-extended-pdf-viewer>
      </div>
    </div>
</p-dialog>
</ng-container>


<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="isEditModeOn && editItemCloseImageCapture">
    



    <p-sidebar [style]="{'width':'60%'}" [(visible)]="isEditModeOn && editItemCloseImageCapture" position="right">
      
        <app-material-calculator style="height: 100%;" (calculateObj)="calculation($event)" (changeItemEvent)="changeItem()"
        [itemAvailableNet]="itemAvailableNet" [itemNet]="itemNet" [itemTare]="itemTare" [itemGross]="itemGross" (backClose)="changeItem()" 
        [itemGroupName]="itemGroupName" [itemMaterialName]="itemMaterialName" [materialNote]="materialNote" [itemImagePath]="itemImagePath?itemImagePath:itemDefaultImagePath">
    </app-material-calculator>

</p-sidebar>
</div>
