<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- <div class="row mt-2">
            <div class="col text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
            </div>
            
        </div> -->

        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">Plans</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/plans">Plans</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="row mt-2">
            <div class="col-md-6 d-flex">
                <h4>User Management</h4>
            </div>
            <div class="col-md-6">
                <a data-bs-target="#add-new-user" data-bs-toggle="modal" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Add New User"><i class="mdi mdi-cust mdi-plus"></i></a>

                <a href="admin-location-management.html" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Location Management"><i class="mdi mdi-cust mdi-map-marker"></i></a>
            </div>                            
        </div>   -->
        <!-- end page title --> 

        <div class="row mt-2">
            <div class="col-12">
                <div class="card custom-height">
                    <div class="card-body">

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="pricing-box pricing-box-1 plan-selected" tabindex="0">
                                    <h4 class="pricing-plan-name">BuyScrapApp Lite</h4> 

                                    <div class="pricing-inner-content"> 

                                        <span>Recommended for CRV-only buyers and buyers not needing state compliance or saving of images.</span>

                                        <hr>

                                        <h4 class="pricing-plan-price"><img src="assets/images/custom/no-camera.png" class="camera-img">$49/Monthly</h4>

                                        <h5 class="pricing-plan-popularity">Budget Plan</h5>

                                        <table class="pricing-tbl">
                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>500 Tickets/mo included (approx. 20/day)</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>3 User Logins Included</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-xmark fa-red"></i></td>
                                                <td>No images of materials, customers, signatures or thumbprints</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-xmark fa-red"></i></td>
                                                <td>Compliance Engine and Uploads NOT Included</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-xmark fa-red"></i></td>
                                                <td>No VIN scanning & title for buying scrap vehicles</td>
                                            </tr>
                                        </table>

                                        <button class="btn btn-primary-bsa-orange mt-15" *ngIf="buyScrappLite.selected==false"  (click)="addCart(buyScrappLite,true);buyScrappLite.selected=true;buyScrappPlus.selected=false">SELECT PLAN</button>
                                        <button class="btn btn-primary-bsa-orange mt-15" *ngIf="buyScrappLite.selected==true"  (click)="removeCartItem(buyScrappLite);buyScrappLite.selected=false">SELECTED</button>


                                       
                                           
                                        

                                        <!-- <p class="info-p">Free 30 day trial</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-mob-20">

                                <div class="pricing-box pricing-box-1" tabindex="0">
                                    <h4 class="pricing-plan-name">BuyScrapApp Plus</h4> 

                                    <div class="pricing-inner-content"> 

                                        <span>Recommended for all scrap yards, especially ones that need to be in compliance with state metal laws.</span>

                                        <hr>

                                        <h4 class="pricing-plan-price"><img src="assets/images/custom/camera.png" class="camera-img">$99/Monthly</h4>

                                        <h5 class="pricing-plan-popularity">Most Popular!</h5>

                                        <table class="pricing-tbl">
                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>500 Tickets/mo included (approx. 20/day)</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>3 User Logins Included</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>Includes images of materials, customers, signatures or thumbprints</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>Compliance Engine and Uploads Included</td>
                                            </tr>

                                            <tr>
                                                <td class="pricing-tbl-td-1"><i class="fa-solid fa-check fa-green"></i></td>
                                                <td>VIN scanning & title for buying scrap vehicles</td>
                                            </tr>
                                        </table>
                                     
                                        <button  class="btn btn-primary-bsa-orange mt-15" *ngIf="buyScrappPlus.selected==false" (click)="addCart(buyScrappPlus,true);buyScrappPlus.selected=true;buyScrappLite.selected=false">SELECT PLAN</button>
                                        <button  class="btn btn-primary-bsa-orange mt-15" *ngIf="buyScrappPlus.selected==true"  (click)="removeCartItem(buyScrappPlus);buyScrappPlus.selected=false">SELECTED</button>

                                        <!-- <p class="info-p">30 Days Money Back Guarantee</p> -->
                                    </div>
                                </div>
                            </div>

                </div>

                <div class="row mt-20">

                    <div class="col-sm-6">
                        <div class="pricing-box">
                                    
                                    <div class="addons-heading">
                                        <div class="form-check">
                                            
                                            <label class="form-check-label lbl-addons-heading" for="checkmeout0">Add Extra Monthly Tickets</label>
                                        </div>
                                    </div> 

                                    <div class="pricing-inner-content">

                                        <table class="pricing-tbl">
                                            <tr>
                                                <td class="addons-td-1">
                                                    <div class="form-check form-check-success div-addons">
                                                        <input class="form-check-input radio-addons"  (click)="monthlyPlan({name:'Add Monthly Tickets',price:30,quantity:1})"  type="radio" name="flexRadioDefault" id="addonradio">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for="addonradio" class="lbl-radio"><p class="addons-features-content">+1000 tickets/mo (add $50)</p>
                                                    <span class="addons-features-content-sub">(Adds approx. 40 extra tix per day)</span></label>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="addons-td-1">
                                                    <div class="form-check form-check-success div-addons">
                                                        <input class="form-check-input radio-addons" (click)="monthlyPlan({name:'+2000 tickets/month',price:75,quantity:1})"   type="radio" name="flexRadioDefault" id="addonradio2">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for="addonradio2" class="lbl-radio"><p class="addons-features-content">+2000 tickets/month (add $75)</p>
                                                    <span class="addons-features-content-sub">(Adds approx. 100 extra tix per day)</span></label>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="addons-td-1">
                                                    <div class="form-check form-check-success div-addons">
                                                        <input class="form-check-input radio-addons" (click)="monthlyPlan({name:'+5000 tickets/month',price:150,quantity:1})"   type="radio" name="flexRadioDefault" id="addonradio3">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for="addonradio3" class="lbl-radio"><p class="addons-features-content">+5000 tickets/month (add $150)</p>
                                                    <span class="addons-features-content-sub">(Adds approx. 200 extra tix per day)</span></label>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="addons-td-1">
                                                    <div class="form-check form-check-success div-addons">
                                                        <input class="form-check-input radio-addons" (click)="monthlyPlan({name:'+10,000 tickets/month',price:250,quantity:1})"  type="radio" name="flexRadioDefault" id="addonradio4">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for="addonradio4" class="lbl-radio"><p class="addons-features-content">+10,000 tickets/mo (add $250)</p>
                                                    <span class="addons-features-content-sub">(Adds approx. 400 extra tix per day)</span></label>
                                                </td>
                                            </tr>
                                            
                                        </table>

                                    </div>
                                </div>
                    </div>

                    <div class="col-sm-6 mt-mob-20">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pricing-box">
                                    
                                    <div class="addons-heading">
                                        <div class="form-check">
                                            <input type="checkbox" (click)="addUser(userPlan)" class="form-check-input checkbox-addons" id="checkmeout2">
                                            <label class="form-check-label lbl-addons-heading" for="checkmeout2" >Add User Logins</label><br>
                                            <span>$15/month per user</span>
                                        </div>
                                    </div> 

                                    <div class="pricing-inner-content">

                                        <span>Add additional logins for your weightmasters, cashiers or admin users to use the software.</span>

                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="plus-minus-box">
                                                    <div class="number">
                                                        <span class="minus" (click)="subUserQuantity()">-</span>
                                                        <input type="text" [value]="userPlan.quantity"/>
                                                        <span class="plus" (click)="addUserQuantity()">+</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="addon-price-calculation">
                                                    <label>
                                                        Total - <span class="total-amount">${{userPlan.price * userPlan.quantity }}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-20">
                            <div class="col-sm-12">
                                <div class="pricing-box">
                                    
                                    <div class="addons-heading">
                                        <div class="form-check">
                                            <input type="checkbox" (click)="addItemLocation(locationPlan)" class="form-check-input checkbox-addons" id="checkbox-location">
                                            <label class="form-check-label lbl-addons-heading" for="checkbox-location">Add Locations</label><br>
                                            <span>$15/month</span>
                                        </div>
                                    </div> 

                                    <div class="pricing-inner-content">

                                        <span>Add additional locations.</span>

                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="plus-minus-box">
                                                    <div class="number">
                                                        <span class="minus" (click)="sublocationQuantity()">-</span>
                                                        <input type="text" [value]="this.locationPlan.quantity"/>
                                                        <span class="plus" (click)="addlocationQuantity()">+</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="addon-price-calculation">
                                                    <label>
                                                        Total - <span class="total-amount">${{locationPlan.price * locationPlan.quantity }}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>
                </div>

                <div class="row mt-20">
                    <div class="col-sm-12">
                       
                        <button  class="btn btn-primary-bsa-get-started" [attr.disabled]="!cartService.getCartItems().length ? true : null"   (click)="proccedCart()">Procced to Cart</button> 
                    </div>
                </div>
                    
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->     
        
    </div> <!-- container -->

</div> <!-- content -->
