<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- <div class="row mt-2">
            <div class="col text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
            </div>
            
        </div> -->

        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">Plans</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()"
                            routerLink="/{{orgName}}/plans">Plans</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row mt-2">
            <div class="col-md-6 d-flex">
                <h4>User Management</h4>
            </div>
            <div class="col-md-6">
                <a data-bs-target="#add-new-user" data-bs-toggle="modal" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Add New User"><i class="mdi mdi-cust mdi-plus"></i></a>

                <a href="admin-location-management.html" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Location Management"><i class="mdi mdi-cust mdi-map-marker"></i></a>
            </div>                            
        </div>   -->
        <!-- end page title -->

        <div class="row mt-2">
            <div class="col-12">
                <div class="card custom-height">
                    <div class="card-body">


                        <div  class="row mt-20" *ngIf="showLoder">
                                
                            <div class="col-sm-6">
                                <app-page-loader type="packageloader"></app-page-loader>
                            </div>

                            <div class="col-sm-6">
                                <app-page-loader type="packageloader"></app-page-loader>
                            </div>
                          
                        
                            
                        </div>



                        <div class="row" *ngIf="!showLoder">

                            <ng-container *ngFor="let item of planObj;let i = index">

                                <div class="col-sm-4">
                                    <div class="pricing-box pricing-box-1" tabindex="0"
                                        [ngClass]="{'plan-selected': item?.isselected}">
                                        <h4 class="pricing-plan-name">{{item?.planTitle}}</h4>

                                        <div class="pricing-inner-content">

                                            <span>{{item?.planRecommendationText}}</span>

                                            <hr>

                                            <h4 class="pricing-plan-price"><img src="assets/images/custom/no-camera.png"
                                                    class="camera-img">${{item?.planCost}}/Monthly</h4>

                                            <h5 class="pricing-plan-popularity">{{item?.planSubTitle}}</h5>

                                            <table class="pricing-tbl">
                                                <tr *ngFor="let obj of item?.planDesc">
                                                    <td class="pricing-tbl-td-1">
                                                        <i class="fa-solid fa-check fa-green" *ngIf="!obj?.isCross"></i>
                                                        <i class="fa-solid fa-xmark fa-red" *ngIf="obj?.isCross"></i>

                                                    </td>
                                                    <td>{{obj?.planDesc}}</td>
                                                </tr>


                                            </table>

                                            <button class="btn btn-primary-bsa-orange mt-15 btn-footer"
                                                *ngIf="item?.isselected" (click)="getSelected(item,i)">SELECTED</button>
                                            <button class="btn btn-primary-bsa-orange mt-15 btn-footer"
                                                *ngIf="!item?.isselected">Select Plan</button>

                                            <!-- <button class="btn btn-primary-bsa-orange mt-15"   (click)="removeCartItem(buyScrappLite);buyScrappLite.selected=false">SELECTED</button> -->






                                            <!-- <p class="info-p">Free 30 day trial</p> -->
                                        </div>
                                    </div>
                                </div>

                            </ng-container>





                        </div>

                     

                        <div class="row mt-20" *ngIf="!showLoder">

                            <div class="col-sm-6">
                                <div class="pricing-box" style="min-height: auto;">

                                    <div class="addons-heading">
                                        <div class="form-check">

                                            <label class="form-check-label lbl-addons-heading" for="checkmeout0">Add
                                                Extra Monthly Tickets</label>
                                        </div>
                                    </div>

                                    <div class="pricing-inner-content">

                                        <table class="pricing-tbl">


                                            <tr *ngFor="let item of extraMOnthlyobj">
                                                <td class="addons-td-1">
                                                    <div class="form-check form-check-success div-addons">
                                                        <input class="form-check-input radio-addons"
                                                            [checked]="item.isSelected" type="radio"
                                                            name="flexRadioDefault" id="addonradio">
                                                    </div>
                                                </td>

                                                <td>
                                                    <label for="addonradio" class="lbl-radio">
                                                        <p class="addons-features-content">+{{item?.extraTicket}}
                                                            tickets/mo (add ${{item?.extraAmount}})</p>
                                                        <span class="addons-features-content-sub">(Adds approx.
                                                            {{item?.totalTickets}} extra tix per day)</span>
                                                    </label>
                                                </td>
                                            </tr>



                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 mt-mob-20">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pricing-box" style="min-height: auto;">

                                            <div class="addons-heading">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input checkbox-addons"
                                                        id="checkmeout2">
                                                    <label class="form-check-label lbl-addons-heading"
                                                        for="checkmeout2">Add User Logins</label><br>
                                                    <span>$15/month per user</span>
                                                </div>
                                            </div>

                                            <div class="pricing-inner-content">

                                                <span>Add additional logins for your weightmasters, cashiers or admin
                                                    users to use the software.</span>

                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="plus-minus-box">
                                                            <div class="number">
                                                                <span class="minus" (click)="subUserQuantity()">-</span>
                                                                <input type="text"
                                                                    [value]="organizationPlanDetails?.extraUserCount" />
                                                                <span class="plus" (click)="addUserQuantity()">+</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="addon-price-calculation">
                                                            <label
                                                                *ngIf="organizationPlanDetails.extraUserCount > 0">
                                                                Total - <span
                                                                    class="total-amount">${{organizationPlanDetails.defaultMonthPrice
                                                                    * organizationPlanDetails.extraUserCount
                                                                    }}</span>
                                                            </label>
                                                            <label
                                                                *ngIf="organizationPlanDetails.extraUserCount == 0">
                                                                Total - <span class="total-amount">$0</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-20">
                                    <div class="col-sm-12">
                                        <div class="pricing-box" style="min-height: auto;">

                                            <div class="addons-heading">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input checkbox-addons"
                                                        id="checkbox-location">
                                                    <label class="form-check-label lbl-addons-heading"
                                                        for="checkbox-location">Add Locations</label><br>
                                                    <span>$15/month</span>
                                                </div>
                                            </div>

                                            <div class="pricing-inner-content">

                                                <span>Add additional locations.</span>

                                                <hr>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="plus-minus-box">
                                                            <div class="number">
                                                                <span class="minus"
                                                                    (click)="sublocationQuantity()">-</span>
                                                                <input type="text"
                                                                    [value]="organizationPlanDetails?.extraUserLocation" />
                                                                <span class="plus"
                                                                    (click)="addlocationQuantity()">+</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="addon-price-calculation">
                                                            <label
                                                                *ngIf="organizationPlanDetails?.extraUserLocation > 0">
                                                                Total - <span
                                                                    class="total-amount">${{organizationPlanDetails?.defaultMonthPrice
                                                                    * organizationPlanDetails?.extraUserLocation
                                                                    }} / Monthly </span>
                                                            </label>
                                                            <label
                                                                *ngIf="organizationPlanDetails?.extraUserLocation == 0">
                                                                Total - <span class="total-amount">$0</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>




                        <div class="row mt-30" *ngIf="!showLoder">

                            <div class="col-sm-12">
                                <h4 class="pricing-plan-name pricing-plan-name-summary">Summary
                                    <span class="pricing-sub-heading"><br>Based on your selections</span>
                                </h4>
                                <table class="summary-table">

                                    <tbody>

                                        <tr>
                                           
                                            <td *ngIf="planSelectedObj?.isselected">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="summary-h4">{{planSelectedObj?.planTitle}} </h4>

                                                        <span class="summary-sub-heading">(Includes
                                                            {{planSelectedObj?.defaultTickets}} tickets &
                                                            {{planSelectedObj?.defaultUserCount}} User Login)</span>


                                                    </div>

                                                    <!-- <div class="col-4">
                                                        <h4 class="summary-h4-2">${{planSelectedObj?.planCost || 0}} /
                                                            Monthly</h4>
                                                    </div> -->

                                                    <div class="col-4">

                                                        <h4 class="summary-h4-2">${{planSelectedObj?.planCost || 0}} /
                                                            Monthly</h4>
                                                        
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>



                                        <tr>

                                            <td *ngIf="filtermonthlySelectd?.isSelected">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <label for="addonradio" class="lbl-radio">
                                                            <p class="addons-features-content">
                                                                +{{filtermonthlySelectd?.extraTicket}} tickets/mo (add
                                                                ${{filtermonthlySelectd?.extraAmount}})</p>
                                                            <span class="addons-features-content-sub">(Adds approx.
                                                                {{filtermonthlySelectd?.totalTickets}} extra tix per
                                                                day)</span>
                                                        </label>

                                                    </div>
                                                    <div class="col-4">
                                                        <h4 class="summary-h4-2">${{filtermonthlySelectd?.extraAmount ||
                                                            0}} / Monthly</h4>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr *ngIf="organizationPlanDetails?.extraUserCount > 0">

                                            <td >
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="summary-h4">Add User Logins </h4>
                                                        <span class="summary-sub-heading"> (Adds User Logins {{organizationPlanDetails.extraUserCount}})</span>

                                                    </div>

                                                    <div class="col-4">
                                                        <h4 class="summary-h4-2">${{organizationPlanDetails.defaultMonthPrice
                                                            * organizationPlanDetails.extraUserCount
                                                            }} / Monthly </h4>

                                                    </div>

                                                </div>

                                               
                                            </td>
                                        </tr>

                                        <tr *ngIf="organizationPlanDetails?.extraUserLocation > 0">

                                            <td >
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="summary-h4">Add Locations</h4>
                                                        <span class="summary-sub-heading">(Adds Locations {{organizationPlanDetails.extraUserLocation}} ) </span>

                                                    </div>

                                                    <div class="col-4">
                                                        <h4 class="summary-h4-2">${{organizationPlanDetails?.defaultMonthPrice
                                                            * organizationPlanDetails?.extraUserLocation
                                                            }} /
                                                            Monthly</h4>

                                                    </div>

                                                   

                                                </div>
                                            </td>
                                        </tr>

                                      
                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <h4 class="summary-total-h4">Upfront Total Due</h4> 
                                                    </div>

                                                    <div class="col-4">
                                                        <h4 class="summary-total-h4-2">${{(organizationPlanDetails?.defaultMonthPrice
                                                            * organizationPlanDetails?.extraUserLocation) + (organizationPlanDetails.defaultMonthPrice
                                                            * organizationPlanDetails.extraUserCount) +  filtermonthlySelectd?.extraAmount +  planSelectedObj?.planCost
                                                            }} / Monthly</h4>
                                                        <span class="summary-sub-heading" style="text-align: right;">Initial Payment</span>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                   

                                        <tr>
                                            <td colspan="2">
                                                <div class="get-started-btn">
                                                    <button class="btn btn-primary-bsa-get-started"
                                                        [disabled]="!planSelectedObj?.isselected" (click)="proccedCart()">Procced
                                                        to Cart</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>



                            </div>

                        </div>






                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->

    </div> <!-- container -->

</div> <!-- content -->