.credential-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: #F5F6FA;
  }
  
  .credential-card {
    width: 650px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .title {
    font-family: "Roboto Bold";
    font-size: 22px;
    color: #2E4DD4;
    margin-bottom: 15px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  
    &.single {
      display: block;
    }
  }
  
  .input-group {
    flex: 1;
    text-align: left;
    margin: 5px;
  }
  
  label {
    font-family: "Roboto Bold";
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .save-btn {
    background: #008FAD;
    color: white;
    font-family: "Roboto Bold";
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background: #006F88;
  }
  
  .error-message {
    color: red;
    font-family: "Roboto Bold";
    margin-top: 10px;
  }
  