<div class="content-page">
  <div class="content">
    <div class="content" *ngIf="isLoading">
      <app-page-loader type="ftable"></app-page-loader>
    </div>
    <div class="bdcmb mt-2">
      <div class="row">
        <div class="col-sm-6 col-6">
          <h4 class="page-title">Dispatch</h4>
        </div>

        <div class="col-sm-6 col-6">
          <div class="b-links">
            <a routerLink="/{{orgName}}/home">Home</a> / <a href="javascript:void(0)"
              routerLink="/{{orgName}}/dispatch">Dispatch</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-12">
        <div class="card ticket-card">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-2">
                <img src="{{customer?.idfaceShotImage}}" class="dl-img">
              </div>

              <div class="col-sm-10">

                <div class="row">
                  <div class="col-sm-6 col-md-4 d-flex">

                    <h4>Dispatch - {{invoiceId == 'New' ? invoiceId +' Ticket' : invoiceId }} </h4>


                  </div>

                  <div class="col-sm-6 col-md-8 d-flex justify-content-end mb-1">

                    <div *ngIf="type=='show'">
                      <a class="btn btn-primary me-1 mb-1" (click)="edit()">
                        Edit
                      </a>
                    </div>
                    <div *ngIf="type=='edit' || type=='new' ">
                      <a class="btn btn-primary me-1 mb-1" (click)="submitSave()">
                        Save
                      </a>
                    </div>

                    <div>
                      <a class="btn btn-primary me-1" [routerLink]="backUrl">
                        Back
                      </a>

                    </div>



                    <!-- <div *ngIf="isEditModeOn" >
                                        <a class="btn btn-danger me-1" (click)="cancelEditInvoice(false, 0)">Cancel</a>
                                        <a class="btn btn-primary" (click)="confirmSave()">Save</a>
                                    </div> -->

                  </div>
                </div>
                <div class="row">
                  <table class="seller-view-tbl">
                    <tr>

                      <td class="w-25"><b>Customer Name :</b> {{customer?.fullName}}</td>
                      <td class="w-25"><b>Address:</b>
                        <ng-container *ngIf="isBusiness; else personalAddress">
                          <!-- Dropdown for Business -->
                          <select class="text-truncate" [(ngModel)]="addressId">
                            <option *ngFor="let address of addresses" [value]="address.rowId">
                              {{ address.streetAddress }}
                            </option>
                          </select>
                        </ng-container>
                        <ng-template #personalAddress>
                          <span class="text-truncate">{{ customer?.streetAddress }}</span>
                        </ng-template>
                      </td>
                      <td class="w-25">Created on : <label>{{customer?.createdDate  ?? currentDate | date: 'MM/dd/yyyy'}}</label></td>
                      <td class="w-25">Time : {{customer?.createdDate ?? currentDate | date: 'hh:mm a'}}</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-group mt-1 d-flex justify-content-left align-items-center">
                          <label for="floatingInput" class="form-label w-25">Type<span
                              class="text-danger">*</span></label>

                          <select class="form-control" id="defaultSelectedSubMaterial" name="defaultSelectedSubMaterial"
                            [(ngModel)]="dispatchMaterial">
                            <option value="undefined">Select Type</option>
                            <option *ngFor="let option of dispatchTypes; let i = index">
                              {{ option.type }}
                            </option>
                          </select>

                        </div>
                      </td>
                      <td>
                        <div class="form-group  mt-1  d-flex justify-content-left align-items-center">
                          <label for="floatingInput" class="form-label w-25" >Pickup Date<span
                              class="text-danger">*</span></label>
                          <input type="date" [min]="minDate" class="form-control" [(ngModel)]="pickupdate"
                            id="birthdate" placeholder="Pick up Date"  (click)="openDatePicker()">


                        </div>
                      </td>
                      <td colspan="2">
                        <div class="form-group mt-1 d-flex justify-content-left align-items-center">
                          <label for="floatingInput" class="form-label w-25">Driver</label>

                          <select class="form-control me-1" id="defaultdriversName" name="defaultdriversName"
                            [(ngModel)]="driversName">
                            <option *ngFor="let optionobj of driverList; let i = index" [value]="optionobj?.rowId">
                              {{ optionobj.firstName }}
                            </option>
                          </select>


                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-25"><b>Contact Name:</b> {{ contactName }}</td>
                      <td class="w-25"><b>Contact Number:</b> {{ contactNumber }}</td>
                    </tr>
                    


                  </table>


                </div>










              </div>
            </div>



            <div class="row">

              <div class="invoiceTable">
                <div class="invoice-container">
                  <div class="table-wrapper">
                    <table>
                      <thead>
                        <tr>
                          <th style="width:15%">Container Type</th>
                          <th style="width:12%">Container Quantity</th> 
                          <th style="width:12%">Drop-off Box #</th>
                          <th style="width:12%">Box Pickup #</th>
                          <th style="width:10%">Charges</th>
                          <th style="width:25%">Notes</th>
                          <th style="width:15%" *ngIf="type!=='show'">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="type=='show';else showtemp">


                        <tr *ngFor="let item of invoiceObj; let i = index">
                          <td style="width:15%">{{item?.containerType}}</td>
                          <td style="width:12%">{{ item?.containerQuantity }}</td> 
                          <td style="width:12%">{{item?.dropoffbox}}</td>
                          <td style="width:12%">{{item?.boxpickup}}</td>
                          <td style="width:10%">{{item?.charges}}</td>
                          <td colspan="2" style="width:20%;white-space: pre-wrap;">{{item?.notes}}</td>
                       
                        </tr>
                      </tbody>
                      <tbody>
                        <ng-template #showtemp>
                          <tr *ngFor="let item of invoiceObj; let i = index">
                            <td style="width:15%" *ngIf="editingIndex !== i">{{ item?.containerType }}</td>
                            <td style="width:12%" *ngIf="editingIndex === i">
                              <select [(ngModel)]="editItemObj.containerType" class="form-control">
                                <option value="-- None --" selected="true">-- None --</option>
                                <option *ngFor="let option of allContainerType" [value]="option.containerType">
                                  {{ option.containerType }}
                                </option>
                              </select>
                            </td>
                            <td  style="width:12%" *ngIf="editingIndex !== i">{{ item?.containerQuantity }}</td> 
                            <td  style="width:12%" *ngIf="editingIndex === i">
                              <input type="number" [(ngModel)]="editItemObj.containerQuantity" />
                            </td>
                            <td style="width:12%" *ngIf="editingIndex !== i">{{ item?.dropoffbox}}</td>
                            <td style="width:12%" *ngIf="editingIndex === i">
                              <input type="text" [(ngModel)]="editItemObj.dropoffbox" 
                              (change)="checkContainerAvailability(editItemObj.dropoffbox, 'dropoff')" 
                              [disabled]="dispatchMaterial == 'Pickup' || editItemObj.containerQuantity > 1"/>
                            </td>
                            <td style="width:12%" *ngIf="editingIndex !== i">{{ item?.boxpickup }}</td>
                            <td style="width:12%" *ngIf="editingIndex === i">
                              <input type="text" [(ngModel)]="editItemObj.boxpickup "
                              (change)="checkContainerAvailability(editItemObj.boxpickup, 'pickup')" 
                              [disabled]="dispatchMaterial == 'Drop off' || editItemObj.containerQuantity > 1"/>
                            </td>
                            <td style="width:10%" *ngIf="editingIndex !== i">{{ item?.charges }}</td>
                            <td style="width:10%" *ngIf="editingIndex === i">
                              <input type="number" [(ngModel)]="editItemObj.charges" />
                            </td>
                            <td style="width:25%" *ngIf="editingIndex !== i" style="white-space: pre-wrap;">{{ item?.notes }}</td>
                            <td style="width:25%" *ngIf="editingIndex === i">
                              <textarea cols="50" rows="2" [(ngModel)]="editItemObj.notes"></textarea>



                            </td>
                            <td style="width:15%">
                              <div class="d-flex">
                                <button class="btn btn-primary me-1" *ngIf="editingIndex !== i"
                                (click)="startEditing(i, item)">Edit</button>
                              <button class="btn btn-danger" *ngIf="editingIndex !== i"
                                (click)="deleteItem(i)">Delete</button>
                              <button class="btn btn-success me-1" *ngIf="editingIndex === i"
                                (click)="saveEdit(i)">Save</button>
                              <button class="btn btn-secondary" *ngIf="editingIndex === i"
                                (click)="cancelEdit()">Cancel</button>
                              </div>
                            
                            </td>
                          </tr>








                          <!-- Existing Items -->

                          <!-- New Item Input -->
                          <tr>
                            <td style="width:15%">

                              <select class="form-control me-1" id="allContainerType" name="defaultSelectedMaterial"
                                [(ngModel)]="newItem.containerType">
                                <option value="-- None --" selected="true">-- None --</option>
                                <option *ngFor="let option of allContainerType; let i = index"
                                  [value]="option.containerType">
                                  {{ option.containerType }}
                                </option>
                              </select>
                              <!-- <input type="text" [(ngModel)]="newItem.containerID" placeholder="Container ID" /> -->
                            </td>
                            <td style="width:12%">
                              <input min="0" type="number" [(ngModel)]="newItem.containerQuantity" placeholder="Container Quantity" />
                            </td> 
                            <td style="width:12%">
                              <input type="text" [(ngModel)]="newItem.dropoffbox" placeholder="Drop-off Box"
                              (change)="checkContainerAvailability(newItem.dropoffbox, 'dropoff')" 
                              [disabled]="dispatchMaterial == 'Pickup' || newItem.containerQuantity > 1" />
                            </td>
                            <td style="width:12%">
                              <input type="text" [(ngModel)]="newItem.boxpickup" placeholder="Box Pickup" 
                              (change)="checkContainerAvailability(newItem.boxpickup, 'pickup')" 
                              [disabled]="dispatchMaterial == 'Drop off' || newItem.containerQuantity > 1" />
                            </td>
                            <td style="width:10%">
                              <input min="0" type="number" [(ngModel)]="newItem.charges" placeholder="Charges" />
                            </td>
                            <td style="width:25%">
                              <textarea cols="50" rows="2" [(ngModel)]="newItem.notes" placeholder="Notes">
                                          </textarea>

                            </td>
                            <td style="width:15%">
                              <button class="btn btn-primary" (click)="addNewItem()">
                                Add Item
                              </button>
                              <!-- <button class="btn btn-primary" [disabled]="!isValidNewItem()" (click)="addNewItem()">Add</button> -->
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>



            </div>
            <div class="row">
              <div class="mb-3 col-sm-6 d-flex justify-content-center align-items-center">
                <label for="notes" class="form-label me-2">Notes</label>
                <textarea id="notes" [(ngModel)]="notes" class="form-control" rows="2"
                    placeholder="Any relevant information not already covered"></textarea>
            </div>
            </div>
           


            <!-- <div class="row">

              <table>


                <tr>
                  <td style="width:10%"></td>
                  <td style="width:10%"></td>
                  <td style="width:12%;text-align:right">Total:</td>
                  <td style="width:10%;margin-left:15px"> <b>{{ getTotalCharges() | currency: currencySymbol :'symbol':
                      numberFormat }}</b></td>
                  <td style="width:40%"></td>
                  <td style="width:10%"></td>
                </tr>
              </table>
              






            </div> -->
          </div>
        </div>
        <p-toast></p-toast>




      </div>


    </div>