<div class="row">
    <div class="col-sm-12">
        
        <form action="">
            
            <div class="form-group col-sm-12 mb-2">
                <label for="simpleinput" class="form-label w-100">Cashdrawer Name</label>
                <input type="text" id="cashdrawername" class="form-control" placeholder="Cashdrawer Name">
            </div>

            <div class="form-group col-sm-12 mb-2">
                <table class="cashier-settings-table">
                    <tr>
                        <td class="cs-td-1">
                            <label for="simpleinput" class="form-label w-100">Exe Path</label>
                            <input type="text" id="exepath" class="form-control" placeholder="Exe Path">
                        </td>

                        <td class="cs-td-2">
                            <label for="simpleinput" class="form-label w-100">&nbsp;</label>
                            <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Upload Image</button>
                            <input type="file" id="upload" style="display:none">
                        </td>
                    </tr>                                                
                </table>
            </div>

            <a class="btn btn-primary btn-materials">Save</a>
        </form>

    </div>
</div> 