

<div [ngSwitch]="type">
    <div *ngSwitchCase="'ftable'">

        <div class="d-flex  justify-content-between mb-5 mt-3" >

            <div class="col-sm-5 me-2"> <p-skeleton height="3rem"></p-skeleton></div>
            <div  class="col-sm-4 me-2"> <p-skeleton height="3rem"></p-skeleton></div>
            <div class="col-sm-3"> 
                <div class="d-flex justify-content-center align-items-center">
                    <p-skeleton width="4rem" height="2rem" class="me-2"></p-skeleton>
                    <p-skeleton width="4rem" height="2rem" class="me-2"></p-skeleton>
                   
                    <p-skeleton width="4rem" height="2rem"></p-skeleton></div>
                </div>
                

        </div>


        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td><p-skeleton  height="2rem"></p-skeleton></td>
                    <td><p-skeleton  height="2rem"></p-skeleton></td>
                    <td><p-skeleton  height="2rem"></p-skeleton></td>
                    <td><p-skeleton  height="2rem"></p-skeleton></td>
                    <td><p-skeleton  height="2rem"> </p-skeleton></td>
                    <td><p-skeleton  height="2rem"></p-skeleton></td>
                </tr>
            </ng-template>
        </p-table>


    </div>
    <div *ngSwitchCase="'table'">

       


        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    <td><p-skeleton></p-skeleton></td>
                    
                </tr>
            </ng-template>
        </p-table>
 

    </div>

    <div *ngSwitchCase="'image'">

        <div class="row mb-3 mt-3">

            <div class="d-flex  justify-content-start mb-3 mt-3" >

                <div class="col-sm-8 me-2"> <p-skeleton height="2rem"></p-skeleton></div>
                
                <div class="col-sm-4"> 
                    <div class="d-flex justify-content-center align-items-center">
                        <p-skeleton width="7rem" height="2rem" class="me-2"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem" class="me-2"></p-skeleton>
                       
                        <p-skeleton width="4rem" height="2rem"></p-skeleton></div>
                    </div>
                    
    
            </div>

            <div class="col-sm-2 mt-2" *ngFor="let item of products">
                <div class="me-2">
                    <p-skeleton width="12rem"  height="10rem" styleClass="mb-2"></p-skeleton>
                    <div>
                        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                      
                    </div>
                </div>
              
            </div>
          
        </div>


        


    </div>
    <div *ngSwitchCase="'reportloader'">

        <div class="row mb-3 mt-3">

            <div class="d-flex  justify-content-center mb-5 mt-3" >

                <div class="col-sm-12 me-2">
                    <div>
                        <p-skeleton width="100%" height="3rem" class="me-2"></p-skeleton>

                    </div>
                    
                    <div class="mt-1">
                        <p-skeleton width="100%" height="450px" class="me-2"></p-skeleton>

                    </div>
                    
                
                
                    </div>
                
                
                    
    
            </div>

           
          
        </div>


        


    </div>
    <div *ngSwitchCase="'packageloader'">

        <div class="pricing-box pricing-box-1">
            <h4 class="pricing-plan-name"><p-skeleton height="2rem"></p-skeleton></h4> 

        
                <div class="pricing-inner-content"> 
        
                    <span> <p-skeleton height="2rem"></p-skeleton></span>

                    <hr>

                    <h4 class="pricing-plan-price"> <p-skeleton width="10rem" height="2rem"></p-skeleton></h4>

                    <div class="d-flex justify-content-center text-center mb-2"> <p-skeleton width="3rem" height="1rem"></p-skeleton></div>

                    <table  style="width:100%">
                        <tr *ngFor="let obj of products">
                            <td style="width:5%">
                                <p-skeleton width="4rem" height="2rem"></p-skeleton>
                   
                            </td>
                            <td style="width:95%"><p-skeleton width="100%" height="2rem"></p-skeleton></td>
                        </tr>

                       
                    </table>
                <div class="d-flex justify-content-center">
                    <p-skeleton width="6rem" height="2rem"></p-skeleton>
                    
                </div>
                  

                    <!-- <button class="btn btn-primary-bsa-orange mt-15"   (click)="removeCartItem(buyScrappLite);buyScrappLite.selected=false">SELECTED</button> -->


                   
                       
                    

                    <!-- <p class="info-p">Free 30 day trial</p> -->
                </div>
           

        </div>


   

        


    </div>
   

    <div *ngSwitchDefault>

        <div class="border-round border-1 surface-border p-4 surface-card">
            <div class="flex mb-3">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                <div>
                    <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton height=".5rem"></p-skeleton>
                </div>
            </div>
            <p-skeleton width="100%" height="150px"></p-skeleton>
            <div class="flex justify-content-between mt-3">
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
            </div>
        </div>
    

    </div>
</div>