.table-responsive {
    max-height: 500px;  
    overflow-y: auto;
    overflow-x: auto;
    display: block;
}

.fixed-bottom-btn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; 
}

