.info-section{
  display: flex;
  justify-content: space-between;
}

.table{
  width: 60vw;
}

button{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.customer-info div label{
  margin: 5px;
  margin-left: 20px;
}

.container{
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 0 20px
}

.customer-info label{
  color: #02659d;
}

.driver-info label{
  color: #02659d;
}

.form-section select, input, textarea{
  border-radius: 5px;
}
.edit-btn{
  font-size: 0.75rem !important;
  line-height: 12px !important;
  background-color: #02659d; 
  border-radius:10px; 
  color: #fff;
}
.delete-btn{
  font-size: 0.75rem !important;
  line-height: 12px !important;
  background-color: red; 
  border-radius:10px; 
  color: #fff;
}
