.custom-height {
    max-height: calc(100vh - 150px);
    overflow: auto;
    height: calc(100vh - 150px);
}
.img-personal {
     display: flex;
     align-items: stretch; 
    .col-sm-3 {
        flex: 1 !important;
        .card {
          
            .card-body{
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }
        }
       
    }
}



.image-box {
    height: auto;
    min-height: 150px;
    max-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover; /* Ensures the image covers the box without stretching */
    }
}


.div-small {
    width: 70%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .table {
    width: 100%;
    margin-top: 20px;
    text-align: left;
  }
  
  button {
    margin-right: 10px;
  }

  .nav-tabs .nav-link.active {
    color: #fff; 
    background-color: #02659d; 
    border-color: #02659d;
    font-weight: bold;
}
ul.nav-tabs .nav-link.active span h5{
    color: #fff !important;
}

  