<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- <div class="row mt-2">
            <div class="col text-center">
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
            </div>
            
        </div> -->
        
        <!-- <div class="row mt-2">
            <div class="col-md-6 d-flex">
                <input type="text" id="example-palaceholder" class="form-control" placeholder="Search for Sellers, Address, License and License Plate">
            </div>
            <div class="col-md-6"> 
                <button type="button" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Search"><i class="mdi mdi-cust mdi-magnify"></i></button>

                <button type="button" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Refresh"><i class="mdi mdi-cust mdi-refresh"></i></button>

                <button type="button" class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Add Seller"><i class="mdi mdi-cust mdi-plus"></i></button>
            </div>
            
        </div>   -->
        <!-- end page title --> 

        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">Add Seller</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a href="index.html">Home</a> / <a href="seller-buyer.html">Sellers Buyers</a> / <a href="seller-add.html">Add Seller</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form action="">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="example-select" class="form-label">Select Type</label>
                                    <select class="form-select" id="example-select">
                                        <option>Personal</option>
                                        <option>Business</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">

                                <h4>Personal Identification Images</h4>

                                <div class="col-sm-3">
                                    <div class="box">
                                        <div class="js--image-preview"></div>
                                        <ul class="upload-options-ul">
                                                <li>
                                                    <label>
                                                        <a class="upload-a">
                                                            <i class="mdi mdi-cust-upload mdi-upload mdi-white-color"></i>
                                                            <input type="file" class="image-upload" accept="image/*"  style="display:none"/>
                                                        </a>
                                                    </label>
                                                </li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-eye mdi-white-color"></i></a></li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-trash-can-outline mdi-white-color"></i></a></li>
                                            </ul>                                                        
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="box">
                                        <div class="js--image-preview"></div>
                                        <ul class="upload-options-ul">
                                                <li>
                                                    <label>
                                                        <a class="upload-a">
                                                            <i class="mdi mdi-cust-upload mdi-upload mdi-white-color"></i>
                                                            <input type="file" class="image-upload" accept="image/*"  style="display:none"/>
                                                        </a>
                                                    </label>
                                                </li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-eye mdi-white-color"></i></a></li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-trash-can-outline mdi-white-color"></i></a></li>
                                            </ul>                                                        
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="box">
                                        <div class="js--image-preview"></div>
                                        <ul class="upload-options-ul">
                                                <li>
                                                    <label>
                                                        <a class="upload-a">
                                                            <i class="mdi mdi-cust-upload mdi-upload mdi-white-color"></i>
                                                            <input type="file" class="image-upload" accept="image/*"  style="display:none"/>
                                                        </a>
                                                    </label>
                                                </li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-eye mdi-white-color"></i></a></li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-trash-can-outline mdi-white-color"></i></a></li>
                                            </ul>                                                        
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="box">
                                        <div class="js--image-preview"></div>
                                        <ul class="upload-options-ul">
                                                <li>
                                                    <label>
                                                        <a class="upload-a">
                                                            <i class="mdi mdi-cust-upload mdi-upload mdi-white-color"></i>
                                                            <input type="file" class="image-upload" accept="image/*"  style="display:none"/>
                                                        </a>
                                                    </label>
                                                </li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-eye mdi-white-color"></i></a></li>
                                                <li><a href="#"><i class="mdi mdi-cust-upload mdi-trash-can-outline mdi-white-color"></i></a></li>
                                            </ul>                                                        
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row mt-3">
                                <h4>Personal Information</h4>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                                        <label for="floatingInput">First Name</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="middlename" placeholder="Middle Name">
                                        <label for="floatingInput">Middle Name</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                        <label for="floatingInput">Last Name</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="birthdate" placeholder="Date of Birth">
                                        <label for="floatingInput">Date of Birth</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="streetaddress" placeholder="Street Address">
                                        <label for="floatingInput">Street Address</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="city" placeholder="City">
                                        <label for="floatingInput">City</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="state" placeholder="State">
                                        <label for="floatingInput">State</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
                                        <label for="floatingInput">Zip Code</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="idlicensenumber" placeholder="ID/License Number">
                                        <label for="floatingInput">ID/License Number</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="expirationdate" placeholder="Expiration Date">
                                        <label for="floatingInput">Expiration Date</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="class" placeholder="Class">
                                        <label for="floatingInput">Class</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="vehiclemake" placeholder="Vehicle Make">
                                        <label for="floatingInput">Vehicle Make</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">    

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="vehiclecolour" placeholder="Vehicle Colour">
                                        <label for="floatingInput">Vehicle Colour</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="licenseplatenumber" placeholder="License Plate Number">
                                        <label for="floatingInput">License Plate Number</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="vehicleidno" placeholder="Vehicle Identification No.">
                                        <label for="floatingInput">Vehicle Identification No.</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="vehiclemodel" placeholder="Vehicle Model">
                                        <label for="floatingInput">Vehicle Model</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row mt-2">

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="cellnumber" placeholder="Cell Number">
                                        <label for="floatingInput">Cell Number</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="emailid" placeholder="Email ID">
                                        <label for="floatingInput">Email ID</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label for="example-select" class="form-label">Choose Dealer's Type</label>
                                    <select class="form-select" id="example-select">
                                        <option>Dealer 1</option>
                                        <option>Dealer 2</option>
                                        <option>Dealer 3</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label for="example-select" class="form-label">Gender</label>
                                    <select class="form-select" id="example-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->     
        
    </div> <!-- container -->

</div> 
