.notify-item{
     i {
        padding-right:5px;
     }
}

.pro-user-name {
   font-size: 1rem
}

.small-profile-icon {
   width: 25px;  
   height: 25px; 
}

.cash-drawer-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%) opacity(0.6); 
}


