<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="bdcmb mt-2">
        <div class="row">
          <div class="col-sm-6 col-6">
            <h4 class="page-title">Ship Out</h4>
          </div>

          <div class="col-sm-6 col-6">
            <div class="b-links">
              <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/ship-out">Ship Out</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6 d-flex">
          <input
            type="text"
            id="example-palaceholder"
            class="form-control"
            placeholder="Search.."
          />
        </div>
        <div class="col-md-6">
          <app-actionbar (iconAction)="getAction($event)"  [actions]="actionList"></app-actionbar>
        </div>
      </div>
      <!-- end page title -->

      <div class="row mt-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <p-table
                [value]="shipouts"
                [paginator]="true"
                [rows]="10"
                [scrollable]="true" 
                scrollHeight="50vh"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="commonService?.tableConfig?.pageOptions"
              >
             
                <ng-template pTemplate="header">
                  <tr>
                    <th>Bill of Landing</th>
                    <th>Date Created</th>
                    <th>Carrier</th>
                    <th>Total Net</th>
                    <th>Buyer</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-shipout>
                  <tr>
                    <td>{{ shipout.rowId }}</td>
                    <td>{{ shipout.createdDate | date: 'MM/dd/yyyy' }}</td>
                    <td>{{ shipout.carrier }}</td>
                    <td>{{ shipout.totalNet }}</td>
                    <td>{{ shipout.customerName }}</td>
                    <td>
                      <a
                       routerLink="/{{orgName}}/ship-out/details/{{shipout.rowId}}"
                       routerLinkActive="router-link-active"
                        type="button"
                        class="btn btn-grid btn-success waves-effect waves-light"
                        ><i class="mdi mdi-eye"></i> Show</a
                      >
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <p-button
                    type="button"
                    icon="pi pi-plus"
                    styleClass="p-button-text"
                  >
                  </p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                  <p-button
                    type="button"
                    icon="pi pi-cloud"
                    styleClass="p-button-text"
                  >
                  </p-button>
                </ng-template>
              </p-table>
            </div>
            <!-- end card body-->
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->
      </div>
      <!-- end row-->
    </div>
    <!-- container -->
  </div>
  <!-- content -->

  <!-- Footer Start -->

  <!--  New Ship Out Modal Popup -->

  <!--  New Ship Out Modal Popup -->

  <!--  Select New Driver Modal Popup -->

  <!--  Select New Driver Modal Popup -->
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<p-dialog
  header="New Ship Out"
  [(visible)]="visible"
  [style]="{ width: '80vw' }"
>
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        id="example-palaceholder"
        class="form-control"
        placeholder="Search for Sellers, Address, License and License Plate"
      />
    </div>
    <div class="col-md-6">
        <app-actionbar (iconAction)="getAction($event)"  [actions]="newButtonList"></app-actionbar>

    </div>
  </div>
  <div class="row mt-3">

    <p-table #dt1 [value]="sellers" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="commonService?.tableConfig?.pageOptions" 
    [scrollable]="true" 
    scrollHeight="50vh"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['seller.sellers', 'seller.dLicense', 'seller.licensePlat', 'seller.address']"
    >    
      <ng-template pTemplate="header">
          <tr>
              <th>Sellers</th>
              <th>Driver's License</th>
              <th>License Plate</th>
              <th>Addres</th>         
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-seller>
          <tr>
            <td>{{ seller?.fullName }}</td>
            <td>{{ seller?.driverLicenseNumber }}</td>
            <td>{{ seller?.licensePlateNumber }}</td>
            <td>{{ seller?.streetAddress }}</td>
      
              <td>
                  <a (click)="showCustomerModel(seller?.rowId)" class="btn btn-primary">Select</a>
          </td>
      </tr>
      </ng-template>
    </p-table>   
  </div>
</p-dialog>

<p-dialog
  header="New Ship Out"
  [(visible)]="custVisible"
  [style]="{ width: '80vw' }"
>

<ng-template pTemplate="header">

    <div>
        <a (click)="closeDriver()" class="btn btn-primary btn-back"><i class="mdi mdi-keyboard-backspace"></i></a>
        <span class="text-xl font-bold ps-2">New Driver</span>
    </div>
   
</ng-template>


  <div class="row mt-3">
    <h4>Driver Personal Information</h4>

    <div class="form-group col-sm-12">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="carrier"
          placeholder="Carrier"
        />
        <label for="floatingInput">Carrier</label>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="truck"
          placeholder="Truck"
        />
        <label for="floatingInput">Truck</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="make" placeholder="Make" />
        <label for="floatingInput">Make</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="model"
          placeholder="Model"
        />
        <label for="floatingInput">Model</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="drivername"
          placeholder="Driver Name"
        />
        <label for="floatingInput">Driver Name</label>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="trailer1"
          placeholder="Trailer 1"
        />
        <label for="floatingInput">Trailer 1</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="trailer2"
          placeholder="Trailer 2"
        />
        <label for="floatingInput">Trailer 2</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="container"
          placeholder="Container"
        />
        <label for="floatingInput">Container</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input type="text" class="form-control" id="seal" placeholder="Seal" />
        <label for="floatingInput">Seal</label>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="booking"
          placeholder="Booking"
        />
        <label for="floatingInput">Booking</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="vesselvoyage"
          placeholder="Vessel/Voyage"
        />
        <label for="floatingInput">Vessel/Voyage</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="chassis"
          placeholder="Chassis"
        />
        <label for="floatingInput">Chassis</label>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="reference"
          placeholder="Reference"
        />
        <label for="floatingInput">Reference</label>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="form-group col-sm-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="packslip"
          placeholder="Pack Slip"
        />
        <label for="floatingInput">Pack Slip</label>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <div class="form-floating">
        <input type="text" class="form-control" id="note" placeholder="Note" />
        <label for="floatingInput">Note</label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <a class="btn btn-primary btn-materials">Save</a>
    </div>
  </div>
</p-dialog>
