<!-- 
<div class="content-page">
    <div class="content">
        <div class="bdcmb mt-2">
            <div class="row">
              <div class="col-sm-6 col-6">
                <h4 class="page-title">Dispatch</h4>
              </div>
    
              <div class="col-sm-6 col-6">
                <div class="b-links">
                  <a routerLink="/{{orgName}}/home">Home</a> / <a href="javascript:void(0)" routerLink="/{{orgName}}/dispatch">Dispatch</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> -->

<div class="content-page" *ngIf="!isLoading">
    <div class="content">
        <div class="bdcmb mt-2">
            <div class="row">
              <div class="col-sm-6 col-6">
                <h4 class="page-title">Dispatch</h4>
              </div>
    
              <div class="col-sm-6 col-6">
                <div class="b-links">
                  <a routerLink="/{{orgName}}/home">Home</a> / <a href="javascript:void(0)" routerLink="/{{orgName}}/dispatch">Dispatch</a>
                </div>
              </div>
            </div>
        </div>

        <div class="row mb-2 mt-1">
                        
        
            <div class="col-sm-12 d-flex justify-content-end">
                <div >
                    <button  class="btn btn-primary me-1" (click)="submitSave()">
                        Save
                    </button>
                </div>

                  <div>
                      <a  class="btn btn-primary me-1"  href="{{backUrl}}">
                          Back
                      </a>

                  </div>
            </div>
        </div>
 


      
        <div class="d-flex">


            <div class="col-md-3">
                <div class="service-request-card">
                    <div class="d-flex  sr-pending">
                        <h5 class="service-title text-primary">Pending Service Requests</h5>
                    </div>
                    <div class="item-container">
                        <div class="inner-card-wrapper" style="cursor:grab;"
                        *ngFor="let item of mainItems" pDraggable (onDragStart)="onDragStart(item)"
                        (onDragEnd)="onDragEnd()">
                        <div style="border:1px solid {{item.colorStatus}};text-align: left; border-left:3px solid {{item.colorStatus}};padding:5px;overflow: hidden;">

      
                            <div>
                                <div style="font-weight: bold;">#{{item.rowID}}</div>
                            <!-- <div  class="d-flex justify-content-start align-items-center" >
                                <div style="font-weight: bold;">{{item.ticketStatus}}</div>
                            </div> -->
                            
                              <div style="font-weight: bold;">Customer Name: {{item.sellerName}}</div>
                              <div style="font-weight: bold;">Type: {{item.type}}</div>
                            
                              <div>{{item.pickUpDate | date: 'short'}}</div>
                            </div>
                           
                    
                          </div>
        
                    </div>
                    </div>
                  
                </div>
            </div>
        
        
        
        
            <div class="col-9">
                <div class="target-boxes-container">
                    <div class="target-boxes">
                        <div class="target-box" *ngFor="let box of targetBoxes; let i = index" pDroppable (onDrop)="onDrop(i)">
                            <div class="d-flex justify-content-between  sr-pending">
                                <div>
                                    <div class="total-order" pTooltip="Pending Order">{{ box.items.length}}
                                    </div>
                                </div>
                                <div class="text-primary">{{ box.driverFullName }}</div>
                                <div class="d-flex">
                                    <div class="me-1 align-item-center">
                                        <img class="dash-icons" src="/assets/images/custom/icons/ship-out.png">
                                    </div>
                                    <!-- <div class="div"> <button (click)="op.toggle($event)" class="btn btn-light border"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                    </div> -->
        
                                </div>
        
                            </div>
                            <div class="item-container">
                            <div *ngFor="let item of box.items" class="dropped-item">
                                
                                <div style="border:1px solid {{item.colorStatus}};text-align: left; border-left:3px solid {{item.colorStatus}};padding:5px;overflow: hidden;" [ngStyle]="item.ticketStatus === 'Unassigned' ? { 'border-left': '3px solid red' } : {}">

      
                                    <div>
                                        <div style="font-weight: bold;">#{{item.rowID}}</div>
                                    <!-- <div  class="d-flex justify-content-start align-items-center" >
                                        <div style="font-weight: bold;">Status : {{item.ticketStatus}}</div>
                                    </div> -->
                                     
                                      <div style="font-weight: bold;">Customer Name: {{item.sellerName}}</div>
                                      <div style="font-weight: bold;">Type: {{item.type}}</div>
                                    
                                      <div>{{item.pickUpDate | date: 'short'}}</div>
                                    </div>
                                   
                            
                                  </div>
        
        
        
        
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        
            </div>
        
        
        </div>
        
    </div>
</div>

<p-toast></p-toast>


<div class="content" *ngIf="isLoading">
    <app-page-loader type="ftable"></app-page-loader>
  </div>

  


<!-- 
<p-overlayPanel #op>
    <img src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="product" />
</p-overlayPanel> -->