            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Adjustment</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a href="index.html">Home</a> / <a href="adjustment.html">Adjustment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <input type="text" id="example-palaceholder" class="form-control" placeholder="Search Adjustment">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            
                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/cod.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>COD</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/error.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Error</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/fuel-surcharge.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Fuel Surcharge</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/labour-cost.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Labor Cost</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/new-data.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>New Data</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/recycling.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Recycling</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/transportation-cost.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Transportation Cost</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/garbage-wood-palet-disposal.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Garbage Wood Pallet Disposal</h4></li>
                                                        <li><a data-bs-toggle="modal" data-bs-target="#edit-adjustment" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; BUYSCRAPAPP. All Rights Reserved. 
                            </div>
                            <div class="col-md-6">
                                <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end footer-links">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

                <!--  Add Adjustment Modal Popup -->
                <div class="modal fade" id="add-adjustment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Add Adjustment</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="row">
                                
                                    <div class="col-sm-12">
                                        <form action="">
                                        
                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="adjustmentname" placeholder="Adjustment Name">
                                                <label for="floatingInput">Adjustment Name</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="description" placeholder="Description">
                                                <label for="floatingInput">Description</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkmeout0">
                                                <label class="form-check-label" for="checkmeout0">Enable</label>
                                            </div>
                                        </div>

                                        <a class="btn btn-primary btn-materials">Save</a>

                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <!--  Add Adjustment Modal Popup -->

                <!--  Edit Adjustment Modal Popup -->
                <div class="modal fade" id="edit-adjustment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Edit Adjustment</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="row">
                                
                                    <div class="col-sm-12">
                                        <form action="">
                                        
                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="adjustmentname" placeholder="Adjustment Name" value="COD">
                                                <label for="floatingInput">Adjustment Name</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="description" placeholder="Description" value="Certificate of Destruction">
                                                <label for="floatingInput">Description</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 mb-2">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkmeout0" checked>
                                                <label class="form-check-label" for="checkmeout0">Enable</label>
                                            </div>
                                        </div>

                                        <a class="btn btn-primary btn-materials">Save</a>

                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <!--  Edit Adjustment Modal Popup -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
