            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Adjustment</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a href="index.html">Home</a> / <a href="adjustment.html">Adjustment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <input type="text" id="example-palaceholder" class="form-control" placeholder="Search Adjustment">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar (iconAction)="getAction($event)"  [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            
                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/cod.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>COD</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/error.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Error</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/fuel-surcharge.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Fuel Surcharge</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/labour-cost.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Labor Cost</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/new-data.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>New Data</h4></li>
                                                        <li><a (click)="showDialog()" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/recycling.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Recycling</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/transportation-cost.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Transportation Cost</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="adjustment-pg-boxes">
                                                    <img src="assets/images/custom/adjustment/garbage-wood-palet-disposal.jpg">
                                                    <ul class="adjustment-name-edit-ul">
                                                        <li><h4>Garbage Wood Pallet Disposal</h4></li>
                                                        <li><a (click)="showDialog('Edit Adjustment')" class="btn btn-adjustment-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

              



            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
            <p-dialog [header]="headerTitle" [(visible)]="visible" [style]="{width: '60vw'}">
        
                <div class="row">
                                
                    <div class="col-sm-12">
                        <form action="">
                        
                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="adjustmentname" placeholder="Adjustment Name" value="COD">
                                <label for="floatingInput">Adjustment Name</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="description" placeholder="Description" value="Certificate of Destruction">
                                <label for="floatingInput">Description</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Upload Image</button>
                            <input type='file' id="upload" style="display:none">

                            <div id="image-preview" class="mt-10"></div>
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkmeout0" checked>
                                <label class="form-check-label" for="checkmeout0">Enable</label>
                            </div>
                        </div>

                        <a class="btn btn-primary btn-materials">Save</a>

                        </form>
                    </div>

                </div>
            </p-dialog>


         