            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page" *ngIf="!showLoader">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Adjustment</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/adjustment">Adjustment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <input type="text" id="example-palaceholder" class="form-control" placeholder="Search Adjustment">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar (iconAction)="getAction($event)"  [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card custom-height">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="img-grid ">

                                            
                                             <ng-container  *ngFor="let item of adjustmentList">
                                               
                                                    <div class="adjustment-pg-boxes">
                                                        <img src="assets/images/custom/adjustment/Default-Adjustment.png">
                                                        <div class="d-flex px-1 py-1" [class]="currentRole!='Scale' ? 'justify-content-between' : 'justify-content-center'" >
                                                            <div><b>{{item.adjustmentName}}</b></div>
                                                            <div *ngIf="currentRole!='Scale'"><a (click)="showDialog(item)" class="btn btn-materials-pg waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a></div>
                                                        </div>
                                                    </div>
                                               
                                            </ng-container>
                                        </div>
                                            
                                         

                                        </div>
                                    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

              



            </div>

            <div class="content" *ngIf="showLoader">
                <app-page-loader type="image"></app-page-loader>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
            <p-dialog [modal]="true" [header]="headerTitle" [(visible)]="visible" [style]="{width: '60vw'}" [breakpoints]="{'767px': '100vw'}">
        
                <div class="row">
                                
                    <div class="col-sm-12">
                        <form [formGroup]="form">
                        
                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-floating">
                                <input formControlName="adjustmentName" type="text" class="form-control">
                                <label for="floatingInput">Adjustment Name</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-floating">
                                <input formControlName="description" type="text" class="form-control">
                                <label for="floatingInput">Description</label>
                            </div>
                        </div>

                        <!-- <div class="form-group col-sm-12 mb-2">
                            <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Upload Image</button>
                            <input type='file' id="upload" style="display:none">

                            <div id="image-preview" class="mt-10"></div>
                        </div> -->

                        <div class="form-group col-sm-12 mb-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="isEnable"  formControlName="isEnable">
                                <label class="form-check-label" for="checkmeout0">Enable</label>
                            </div>
                        </div>

                        <a class="btn btn-primary btn-materials" (click)="onSubmit(adjustmentData)">Save</a>

                        </form>
                    </div>

                </div>
            </p-dialog>


         