<div class="row">
    <div class="col-sm-12">
        
        <form action="">
            
            <div class="row">
                <h4 class="title-plus-border">Receipt Printer Settings</h4>
            </div>
            <!-- <div class="row">
                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter Printer Name</label>
                    <select class="form-select" id="example-select">
                        <option>OneNote for Windows 10</option>
                        <option>OneNote (Desktop)</option>
                        <option>Microsoft XPS Document Writer</option>
                        <option>Microsoft Print to PDF</option>
                        <option>Fax</option>
                        <option>Adobe PDF</option>
                    </select>
                </div>

                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter number of copy to print</label>
                    <input type="text" id="" class="form-control" value="1">
                </div>

            </div> -->

            <div class="row">
                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Default Printer Type</label>
                    <select class="form-select" id="defaultReceiptPrinter" name="defaultReceiptPrinter" [(ngModel)]="defaultReceiptPrinter" >
                        <option value="Normal">Receipt Printer 3 inch</option>
                        <option value="4inch">Receipt Printer 4 inch</option>
                        <option value="A4Size">Letter Size Printer</option>
                    </select>
                </div>

                <div class="form-group col-sm-4 offset-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100 content-hide">&nbsp;</label>
                    <!-- <a href="" class="btn btn-primary">Test Print</a> -->
                </div>

            </div>

            <!-- <div class="row mt-2">
                <h4 class="title-plus-border">A4 Printer Settings</h4>
            </div> -->

            <!-- <div class="row">
                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter Printer Name</label>
                    <select class="form-select" id="example-select">
                        <option>OneNote for Windows 10</option>
                        <option>OneNote (Desktop)</option>
                        <option>Microsoft XPS Document Writer</option>
                        <option>Microsoft Print to PDF</option>
                        <option>Fax</option>
                        <option>Adobe PDF</option>
                    </select>
                </div>

                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter number of copy to print</label>
                    <input type="text" id="" class="form-control" value="1">
                </div>

                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100 content-hide">&nbsp;</label>
                    <a href="" class="btn btn-primary">Test Print</a>
                </div>

            </div> -->

            <!-- <div class="row mt-2">
                <h4 class="title-plus-border">Check Printer Settings</h4>
            </div> -->

            <!-- <div class="row">
                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter Printer Name</label>
                    <select class="form-select" id="example-select">
                        <option>OneNote for Windows 10</option>
                        <option>OneNote (Desktop)</option>
                        <option>Microsoft XPS Document Writer</option>
                        <option>Microsoft Print to PDF</option>
                        <option>Fax</option>
                        <option>Adobe PDF</option>
                    </select>
                </div>

                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100">Enter number of copy to print</label>
                    <input type="text" id="" class="form-control" value="1">
                </div>

                <div class="form-group col-sm-4 mb-2">
                    <label for="simpleinput" class="form-label w-100 content-hide">&nbsp;</label>
                    <a href="" class="btn btn-primary">Test Print</a>
                </div>

            </div> -->

            <hr>

            <div class="row mt-2">
                <div class="col-sm-12">
                    <a (click)="savePrintOption()" class="btn btn-primary">Save</a>

                    <a (click)="closePopup()" data-bs-dismiss="modal" class="btn btn-primary  ms-2">Close</a>
                </div>
            </div>

        </form>

    </div>
</div>    

<p-toast></p-toast>