

.form-box{
  margin-bottom: 10px;
}

.form-control:focus{
  border: 1px solid #4a81d4;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.price-d ::before{
  content: '$';
  top: 11px;
    position: absolute;
}


.m-image{
 
  height:120px;
  width: auto;
  overflow: hidden;
    img{
      width: 100%;
      height: auto; /* Maintain aspect ratio */
      display: block; /* Ensures no extra space below the image */
    }

}



.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    // height:calc(100vh - 590px);
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    font-size: 2rem;
    text-align: center;
  }
  
  .display {
    grid-column: 1 / span 4;
    background-color: #f2f2f2;
   
    font-size: 2rem;
    text-align: right;
  }
  
  .btn-cal {
    background-color: var(--ct-blue);
    color: var(--ct-white);
    border: none;
    font-size: 1.1rem;
    
    cursor: pointer;
  }
  
  .operator {
    grid-row: span 2;
  }
  
  .enter {
    grid-column: 3 / span 2;
  }
  

  
  .h-30{
    height: 30px;
    border-color: #e9ecef;
  }

 
  .custom-file-input {
    display: none;
  }

  .bi-keyboard{
    font-size: 30px;
  }

  .c-title{
    width: 50px;
  }
  
//   @media (max-width: 1180px) {

//     .cost-image div{
//       width: 100% !important;
//     }
//     .content-container{
//       margin-top: 5px;
//       .btn{
//         margin-bottom: 0px !important;
//         font-size: 11px;
//         margin-right: 1px;

//       }
//     }
//     .btn-cal{
//       font-size: 1rem;
//     }

//  }

@media (max-width: 768px) {
  .calculator {
    
    padding: 5px;
    font-size: 1rem !important;
    text-align: center;
   }

   .btn-cal {
    font-size: 0.75rem !important;
   }

 

  
}


 @media (max-width:1024px) {


}

@media only screen and (max-width: 2000px) and (min-width: 1600px) {

  
.m-image{
 
  height:200px;
  width: auto;
  overflow: hidden;
    img{
      width: 100%;
      height: auto; /* Maintain aspect ratio */
      display: block; /* Ensures no extra space below the image */
    }

}

  .c-title{
    width:90px;
  }

  .btn-cal {
    font-size: 2.1rem;
  }

}




@media only screen and (min-width: 2050px) and (min-height: 2732px) {
  .btn-cal {
    background-color: var(--ct-blue);
    color: var(--ct-white);
    border: none;
    font-size: 3.5rem !important;
    
    cursor: pointer;
  } 

  
.m-image{
 
  height:150px;
  width: auto;
  overflow: hidden;
    img{
      width: 100%;
      height: auto; /* Maintain aspect ratio */
      display: block; /* Ensures no extra space below the image */
    }

}

  .bi-keyboard{
    font-size: 50px;
  }

}



@media only screen and (max-width:3840px) and (min-width:2060px){

  
  .m-image{
 
    height:300px;
    min-height: 300px;
    width: auto;
    overflow: hidden;
     
  
  }
  .btn-cal {
    
    font-size: 2.1rem !important;
  }
  .bi-keyboard{
    font-size: 3.1rem;
  }
  .c-title{
    width:120px;
  }
 

}


@media only screen and (max-width:7000px) and (min-width:3500px){
  .bi-keyboard{
    font-size: 5rem;
  }

  .c-title{
    width:160px;
  }
 
  .t-on{
    font-size:3.1rem!important;
  }

  .form-box{
    margin-bottom: 20px;
  }
  .form-control{
    height: 100px;
    margin-bottom: 5px;
  }

  
  .btn-cal {
    font-size: 5.6rem !important;
  }
   
 
.m-image{
 
  height:400px !important;
  min-height: 300px !important;
  width: auto;
  overflow: hidden;
   

}

}