

.form-box{
  margin-bottom: 10px;
}

.price-d ::before{
  content: '$';
  top: 11px;
  position: absolute;
}




.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    // height:calc(100vh - 590px);
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    font-size: 2rem;
    text-align: center;
  }
  
  .display {
    grid-column: 1 / span 4;
    background-color: #f2f2f2;
   
    font-size: 2rem;
    text-align: right;
  }
  
  .btn-cal {
    background-color: var(--ct-blue);
    color: var(--ct-white);
    border: none;
    font-size: 1.5rem;
    
    cursor: pointer;
  }
  
  .operator {
    grid-row: span 2;
  }
  
  .enter {
    grid-column: 3 / span 2;
  }
  
  /* On hover styles for buttons */
//   .btn:hover {
//     background-color: var(--ct-white);
//   }
  
  .h-30{
    height: 30px;
    border-color: #e9ecef;
  }

  .avatar-container {
    max-height: 90px;
    overflow-y: auto;
  }

  .avatar{
    height:100%;
    width: 100%;
  }
  .custom-file-input {
    display: none;
  }





  .image-card {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    padding: 5px 0px 5px 0px;
  }
  
  .image-container {
    margin-right: 5px;
      
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }

  .bi-keyboard{
    font-size: 30px;
  }

  .c-title{
    width: 40px;
  }
  
//   @media (max-width: 1180px) {

//     .cost-image div{
//       width: 100% !important;
//     }
//     .content-container{
//       margin-top: 5px;
//       .btn{
//         margin-bottom: 0px !important;
//         font-size: 11px;
//         margin-right: 1px;

//       }
//     }
//     .btn-cal{
//       font-size: 1rem;
//     }

//  }

@media (max-width: 768px) {
  .calculator {
    
    padding: 5px;
    font-size: 14px !important;
    text-align: center;
   }

   .btn-cal {
    font-size: 12px !important;
   }

 

  
}


 @media (max-width:1024px) {

 
    


}

@media (max-width:1920px) {
  .m-image{
    height: 125px;
    width: 100%;
  }

}


@media only screen and (min-width: 2050px) and (min-height: 2732px) {
  .btn-cal {
    background-color: var(--ct-blue);
    color: var(--ct-white);
    border: none;
    font-size: 3.5rem !important;
    
    cursor: pointer;
  } 

  .m-image{
    height: 100%;
    width: 95%;
  }

  .bi-keyboard{
    font-size: 50px;
  }

}



@media only screen and (max-width:3840px) and (min-width:2060px){

  
  .m-image{
    height: 100%;
    width: 95%;
  }
  .btn-cal {
    
    font-size: 3.5rem !important;
  }
  .bi-keyboard{
    font-size: 50px;
  }
  .c-title{
    width:145px;
  }
 

}


@media only screen and (max-width:7000px) and (min-width:3500px){
  .bi-keyboard{
    font-size: 100px;
  }

  .c-title{
    width:145px;
  }
 
  .t-on{
    font-size: 50px !important;
  }

  .form-box{
    margin-bottom: 20px;
  }
  .form-control{
    height: 150px;
  }

  
  .btn-cal {
    font-size: 7.1rem !important;
  }
   
  .m-image{
    height: 100%;
    width: 95%;
  
  }
  

}