<div class="contianer-custome">
    <main>
        <div class="flex-container">
            <div class="column-container">
                <div class="cards">
                    <app-cards></app-cards>
                </div>
                <div class="row-custome">
                    <div class="barchart card-custome">
                        <app-barchart></app-barchart>
                    </div>
                    <div class="sellerscount card-custome">
                        <app-sellerscount></app-sellerscount>
                    </div>
                </div>
            </div>
            <div class="piechart">
                <app-piechart></app-piechart>
            </div>
        </div>
    </main>
</div>
