.custom-height {
    max-height: calc(100vh - 35px);
    overflow: auto;
}

.active-button {
    background-color: green !important;
}

.fixed-multiselect {
    height: 100px !important;
    width: 100px !important;; /* Adjust the height to your desired value */
    overflow-y: auto;
  }

  .equal-h{
    width: 160px;
    height: 60px;
  }

  .table{
     vertical-align: top;
     tr {
        border-bottom: 1px solid #ccc;
     } 
  }

  .w-110 {
    width: 110px;
  }
  .ticket-card > div{
     margin-right: 5px;
  }

  .ticket-card .btn{
   line-height: 18px !important;
  }
  // .ticket-card > div:last-child{
  //   width: 28%;
  // }

  // .ticket-box div{
  //   flex: 1 0 0 0;
  // }
  
