<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- <div class="row mt-2">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> New Ticket</button> 
                        <button type="button" class="btn btn-primary waves-effect waves-light btn-spl"><i class="mdi mdi-plus"></i> Merge Ticket and Pay</button>
                    </div>
                    
                </div> -->

        <div class="row mt-2">
            <div class="col-md-3">
                <p-multiSelect class="col-2" [options]="ticketsTypes" 
                [(ngModel)]="selectedTickets" defaultLabel="You can choose multiple ..." 
                optionLabel="name" display="chip"></p-multiSelect>

            </div>
            <div class="col-md-3">
                <select class="form-control" id="example-select">
                    <option>All</option>
                    <option>Ticket ID</option>
                    <option>Date Created : Latest</option>
                    <option>Date Created : Oldest</option>
                    <option>Low Ticket Amount</option>
                    <option>High Ticket Amount</option>
                    <option>Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="example-palaceholder" class="form-control" placeholder="Search">
            </div>
            <div class="col-md-3">
               <app-actionbar [actions]="actionList"></app-actionbar>
            </div>

        </div>
        <!-- end page title -->

        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div id="selection-datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <p-table #dt1 [value]="tickets" [paginator]="true" [rows]="10"
                                        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                        [rowsPerPageOptions]="[10, 25, 50]"
                                        [globalFilterFields]="['ticket.id', 'ticket.dateCreated', 'ticket.status', 'ticket.ticketAmount', 'ticket.seller']"
                                        >
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <span>Search: </span><input pInputText type="text" placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Ticket ID</th>
                                                <th>Date Created</th>
                                                <th>Status</th>
                                                <th>Ticket Amount</th>
                                                <th>Seller</th>
                                                <th>Date Closed</th>
                                                <th>Action</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-ticket>
                                            <tr>
                                                <td>{{ ticket.id }}</td>
                                                <td>{{ ticket.dateCreated }}</td>
                                                <td>{{ ticket.status }}</td>
                                                <td>{{ ticket.ticketAmount }}</td>
                                                <td>{{ ticket.seller }}</td>
                                                <td>{{ ticket.dateClosed }}</td>
                                                <td><a type="button" class="btn btn-grid btn-danger waves-effect waves-light"><i class="mdi mdi-trash-can-outline"></i> Void</a> <a href="ticket-details.html" class="btn btn-grid btn-success waves-effect waves-light"><i class="mdi mdi-eye"></i> Show</a></td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="paginatorleft">
                                            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text">
                                            </p-button>
                                        </ng-template>
                                        <ng-template pTemplate="paginatorright">
                                            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text">
                                            </p-button>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

        </div> <!-- container -->

    </div> <!-- content -->