
<div class="content-page">
    <div class="content" >
        <div class="bdcmb mt-2" >
            <div class="row">
              <div class="col-sm-6 col-6">
                <h4 class="page-title">New Appointment</h4>
              </div>
    
              <div class="col-sm-6 col-6">
                <div class="b-links">
                  <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/certificates">Appointment</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="card fc-calender" style="max-height: calc(100vh - 100px);overflow:auto"> 

                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>

          </div>

       
</div>
</div>
