
<div class="content-page">
    <div class="content" >
      <div class="content" *ngIf="isLoading">
        <app-page-loader type="ftable"></app-page-loader>
      </div>
        <!-- <div class="bdcmb mt-2" >
            <div class="row">
              <div class="col-sm-6 col-6">
                <h4 class="page-title">Appointment View</h4>
              </div>
    
              <div class="col-sm-6 col-6">
                <div class="b-links">
                  <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/dispatch">Dispatch</a> / <a href="javscript:void()">Appointment</a>
                </div>
              </div>
            </div>
          </div> -->
          
          <div class="row">
            <div class="card fc-calender" style="max-height: calc(100vh - 210px);overflow:hidden"> 
              <!-- <div class="controls mt-2">
                <button class="btn btn-primary me-1" (click)="goToPreviousMonth()">Previous</button>
                <button class="btn btn-primary"  (click)="goToNextMonth()">Next </button>
              </div> -->
                <full-calendar #calendarRef [options]="calendarOptions"></full-calendar>
            </div>

          </div>

       
</div>
</div>
