
<div class="row">
                                
    <div class="col-md-6">
        <input type="text" id="example-placeholder" class="form-control" placeholder="Search Sys Pref">
    </div>
    <div class="col-md-6">
        <a class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Search"><i class="mdi mdi-cust mdi-magnify"></i></a> 

        <a class="btn btn-square-less-padd btn-primary waves-effect waves-light" title="Refresh"><i class="mdi mdi-cust mdi-refresh"></i></a>
    </div>

</div>

<div class="row mt-3">

    <table id="dt-sys-pref" class="table dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
            
            
                <tbody>
                    <tr>
                        <td>TCPClientIP</td>
                        <td>71.41.52.58</td>
                        <td>
                            <a data-bs-target="#edit-sys-pref" data-bs-toggle="modal"
                            data-bs-dismiss="modal" class="btn btn-grid btn-primary waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>TCPClientPort</td>
                        <td>10100</td>
                        <td>
                            <a data-bs-target="#edit-sys-pref" data-bs-toggle="modal"
                            data-bs-dismiss="modal" class="btn btn-grid btn-primary waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>IsEZCash</td>
                        <td>False</td>
                        <td>
                            <a data-bs-target="#edit-sys-pref" data-bs-toggle="modal"
                            data-bs-dismiss="modal" class="btn btn-grid btn-primary waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>SignatureOnReceipt</td>
                        <td>False</td>
                        <td>
                            <a data-bs-target="#edit-sys-pref" data-bs-toggle="modal"
                            data-bs-dismiss="modal" class="btn btn-grid btn-primary waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>IsRounding</td>
                        <td>True</td>
                        <td>
                            <a data-bs-target="#edit-sys-pref" data-bs-toggle="modal"
                            data-bs-dismiss="modal" class="btn btn-grid btn-primary waves-effect waves-light"><i class="mdi mdi-pencil"></i> Edit</a>
                        </td>
                    </tr>
                    
                </tbody>
    </table>

</div>

