            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="bdcmb mt-2">
                            <div class="row">
                                <div class="col-sm-6 col-6">
                                    <h4 class="page-title">Sellers Buyers</h4>
                                </div>

                                <div class="col-sm-6 col-6">
                                    <div class="b-links">
                                        <a routerLink="/{{orgName}}/home">Home</a> / <a href="javscript:void()" routerLink="/{{orgName}}/sellers-buyers">Sellers Buyers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex">
                                <input type="text" id="example-palaceholder" [(ngModel)]="searchSellerInput" class="form-control" placeholder="Search for Sellers, Address, License and License Plate">
                            </div>
                            <div class="col-md-6"> 
                                <app-actionbar (iconAction)="getAction($event)"  [actions]="actionList"></app-actionbar>
                            </div>
                            
                        </div>  
                        <!-- end page title --> 

                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        
                                        <p-table [value]="sellers"  [scrollable]="true" 
                                        scrollHeight="50vh" [paginator]="false" [rows]="10"
                                            [showCurrentPageReport]="false" [tableStyle]="{ 'min-width': '50rem' }"
                                            >

                                           
                                            
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Seller</th>
                                                    <th>Driver's License</th>
                                                    <th>Address</th>
                                                    <th>Action</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-seller>
                                                <tr>
                                                    <td>{{ seller.fullName }}</td>
                                                    <td>{{ seller.driverLicenseNumber }}</td>
                                                    <td>{{ seller.streetAddress }}</td>
                                                    <td>
                                                        <a routerLink = "/{{orgName}}/sellers-buyers/view-seller/{{seller?.rowId}}" type="button" class="btn btn-grid btn-success waves-effect waves-light me-1"><i class="mdi mdi-eye"></i> Show</a> 
                                                        <a routerLink = "/{{orgName}}/sellers-buyers/edit-seller/{{seller?.rowId}}" class="btn btn-grid btn-primary waves-effect waves-light me-1"><i class="mdi mdi-pencil"></i> Edit</a>
                                                        <a class="btn btn-grid btn-danger waves-effect waves-light"><i class="mdi mdi-trash-can-outline"></i> Delete</a>
													</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="paginatorleft">
                                                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text">
                                                </p-button>
                                            </ng-template>
                                            <ng-template pTemplate="paginatorright">
                                                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text">
                                                </p-button>
                                            </ng-template>
                                        </p-table>

                                        <div *ngIf="sellers?.length > 0">
                                            <p-paginator class="serverside-paginator"  [showCurrentPageReport]="true" (onPageChange)="onPageChange($event)"  currentPageReportTemplate=" Showing {first} to {last} of {totalRecords} entries" [first]="first" [last]="last" [rows]="pageSize" [totalRecords]="pageTotal" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
                                          </div>
                                          
                                    
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->     
                        
                    </div> <!-- container -->

                </div> <!-- content -->

           

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->