<div class="row">
    <div class="col-sm-12">
        
        <form action="">
            
            <div class="form-group col-sm-12 mb-2">
                <label for="simpleinput" class="form-label w-100">Set Key</label>
                <input type="text" id="setkey" class="form-control" value="*****">
            </div>

            <div class="form-group col-sm-12 mb-2">
                <label for="simpleinput" class="form-label w-100">Confirm Key</label>
                <input type="text" id="setkey" class="form-control" value="*****">
            </div>

            <a class="btn btn-primary ">Save</a>
        </form>

    </div>
</div>                        