.upgrade-box {
    background-color: #02659d;
    border: 1px solid #02659d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #fff;
 
    margin: auto;
  }
  
  .upgrade-message h2 {
    margin-top: 0;
    color: #fff;
  }
  
  .upgrade-message p {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .upgrade-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upgrade-button:hover {
    background-color: #c82333;
  }