<div class="row">
    <div class="row justify-content-center">
       
            <div class="upgrade-box">
                <div class="upgrade-message">
                  <h2>Upgrade to Plus Version Required</h2>
                  <p>To access premium features and benefits, please upgrade to the Plus version.</p>
                </div>
                <button class="upgrade-button" routerLink="/{{orgName}}/my-account/subscription" routerLinkActive="router-link-active" >Upgrade Now</button>
              </div>
      
      </div>

</div>