<div class="content" *ngIf="!sellerLoader">

    <!-- Start Content-->
    <div class="container-fluid">
        <div class="bdcmb mt-2">
            <div class="row">
                <div class="col-sm-6 col-6">
                    <h4 class="page-title">View Seller</h4>
                </div>

                <div class="col-sm-6 col-6">
                    <div class="b-links">
                        <a routerLink="/{{orgName}}/home">Home</a> / <a routerLink="/{{orgName}}/sellers-buyers">Sellers Buyers</a> / <a href="javscript:void()" routerLink="/{{orgName}}/sellers-buyers/view-seller/{{sellerId}}">View Seller</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                         <div>
                       
                         </div>   
                        <div class="row">
                            <div class="col-sm-3">
                            
                                <img src="{{seller?.profilePic}}" class="dl-img">
                            </div>

                            <div class="col-sm-9">
                                <table class="seller-view-tbl">
                                    <tr>
                                        <td>{{seller?.fullName}}</td>
                                        <td>DL# - {{seller?.driverLicenseNumber}}</td>
                                        <td>DOB - {{seller?.dob  | date: 'MM/dd/yyyy'}}</td>
                                        <td>Address - {{seller?.streetAddress}}</td>
                                    </tr>

                                    <tr>
                                        <td>License Plate Number - {{seller?.licensePlateNumber}}</td>
                                        <td>Vehicle Colour - {{seller?.vehicleColor}}</td>
                                        <td>Created on : <label>{{seller?.createdDate  | date: 'MM/dd/yyyy'}}</label></td>
                                        <td>By <label>Sanket Yoshi</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr>

                        <div class="row mt-3 dt-responsive nowrap w-100">
                            <p-table #dt1 [value]="tickets" [paginator]="true" [rows]="10"
                                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                                [rowsPerPageOptions]="commonService?.tableConfig?.pageOptions"
                                [scrollable]="true" 
                                scrollHeight="50vh"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="['ticket.rowId', 'ticket.createdDate', 'ticket.status', 'ticket.ticketAmount', 'ticket.customerName']"
                                >
     
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Ticket ID</th>
                                        <th>Date Created</th>
                                        <th>Status</th>
                                        <th>Ticket Amount</th>
                                        <th>Customer</th>
                                        <th>Date Closed</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-ticket>
                                    <tr>
                                        <td>{{ ticket?.rowId }}</td>
                                        <td>{{ ticket?.createdDate | date: 'MM/dd/yyyy'  }}</td>
                                        <td>{{ ticket?.status }}</td>
                                        <td>{{ ticket?.ticketAmount }}</td>
                                        <td>{{ ticket?.customerName }}</td>
                                        <td>{{ ticket?.dateClosed ? (ticket?.dateClosed  | date: 'MM/dd/yyyy') : ''}}</td>
                                    </tr>
                                </ng-template>
                                
                                
                                
                            </p-table>
                        </div>
                    
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->

        </div>
        <!-- end row-->     
        
    </div> <!-- container -->

</div> <!-- content -->


<div class="content" *ngIf="sellerLoader">
         
    <app-page-loader type="ftable"></app-page-loader>

</div>